.beach-desc
  &__sliderMob
    background: #fff
    &__wrapper
      display: flex
      +r(700)
        display: block
      +r(480)
        display: flex
    &__item
      position: relative
      max-height: 356px
      +r(700)
        width: 100%
      &:last-child
        margin-left: 5px
        +r(700)
          margin-left: 0
          .beach-desc__sliderMob__otherLinks
            padding: 5px
            display: flex
            justify-content: space-between
            width: 100%
        +r(480)
          .beach-desc__sliderMob__otherLinks
            padding: 0
    &__slider
      overflow: hidden
      max-width: 575px
      +r(700)
        max-width: 100%
      &__controls
        position: absolute
        width: 100%
        bottom: 41px
        z-index: 2
        display: flex
        justify-content: space-between
        &__arrow
          width: 30px
          height: 30px
          display: flex
          justify-content: center
          align-items: center
          position: relative
          svg
            width: inherit
            height: inherit
          &--prev
            left: 29px
          &--next
            right: 23px
      &__item
        position: relative
        max-width: 575px
        +r(700)
          max-width: 100%
        max-height: 356px
        img
          width: 100%
          height: 100%
          object-fit: contain
        &__badge
          position: absolute
          z-index: 2
          top: 27px
          left: 27px
          display: flex
          align-items: stretch
          &__item
            background: #fff
            display: flex
            flex-direction: column
            border-radius: 10px 0 0 10px
            padding: 7px 14px 6px 12px
            &:last-child
              border-radius: 0 10px 10px 0
              background: #09839F
              color: #fff
              padding: 7px 7px 3px 7px
              span
                font-family: "Open Sans"
                font-weight: normal
                font-size: 11px
                color: #fff
                &:last-child
                  margin-left: 25px
            &__accommodation
              font-family: SegoeUI
              font-weight: normal
              font-size: 12px
              color: #393939
              display: flex
              span
                font-weight: bold
                margin-right: 4px
              p
                padding: 0
                margin: 0
            &__found
              font-family: SegoeUI
              font-weight: normal
              font-size: 12px
              color: #828080
    &__otherLinks
      display: flex
      flex-wrap: wrap
      a
        &:not(:last-child)
          margin-bottom: 6px
        &:hover
          color: white
      &__photos, &__panoramas, &__list
        max-width: 187px
        width: 100%
        height: 115px
        text-align: center
        color: white
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        svg
          width: 39px
          height: 39px
          margin-bottom: 6px
      &__photos
        background-image: url("./../images/pictures/beach-c6.png")
      &__panoramas
        background-image: url("./../images/pictures/beach-c6.png")
      &__list
        background-image: url("./../images/pictures/beach-c6.png")

@media (max-width: 768px)
  .beach-desc
    &__sliderMob
      &__otherLinks
        &__list
          svg.svg-mob--list-icon
            display: none


@media (max-width: 1024px) and (orientation: landscape)
  #svg-mob--list-icon
    display: none


@media (max-width: 571px)
  .svg-mob--list-icon
    display: none
  .svg-list-icon
    display: none
  .beach-desc
    &__sliderMob
      &__wrapper
        flex-direction: column-reverse
      &__item
        &:last-child
          margin: 0
      &__otherLinks
        flex-direction: row
        padding: 0
        a
          &:not(:last-child)
            margin-bottom: 0
          &:hover
            color: #0D7FC1
        &__photos, &__panoramas, &__list
          width: 125px
          height: 48px
          background-image: none
          font-family: SegoeUI
          font-weight: 600
          font-size: 12.9px
          line-height: 15px
          color: #393939
          display: flex
        &__photos
          br
            display: none
          &--active
            border-bottom: 2px solid #09839F
        &__panoramas
          svg
            display: none
        &__list
          flex-direction: row
          svg.svg-mob--list-icon
            display: block
          svg
            width: 11px
            height: 14px
            margin-bottom: 0

      &__slider
        max-width: 100%
        &__controls
          bottom: calc(50% - 48px)
          transform: translateY(calc(-50% - 24px))
          &__arrow
            &--prev
              left: 13px
            &--next
              right: 13px
        &__item
          max-width: 100%
          &__badge
            display: none