@media (max-width: 768px)
  .beach-desc
    &__overviewMob
      margin-top: 30px
      padding: 14px 39px 41px 39px
      border-top: 1px solid #959595
      border-bottom: 1px solid #959595
      width: 100%
      display: flex
      flex-direction: column
      &__item
        display: flex
        align-items: center
        &--title
          margin-bottom: 19px
        &__review
          &:first-child
            margin-right: 27px
          p
            font-family: "Open Sans"
            font-weight: normal
            font-size: 14px
            color: #000
          a
            font-family: "Open Sans"
            font-weight: 600
            text-decoration: underline!important
            font-size: 11px
            line-height: 24px
            color: #363636
      &__more
        font-family: "Open Sans"
        font-weight: 600
        text-decoration: underline!important
        font-size: 14px
        color: #095161
        margin-top: 23px
        +r(480)
          display: none
      &__show
        display: none
        font-family: "Open Sans"
        font-weight: 600
        text-decoration: underline!important
        font-size: 14px
        color: #095161
        margin-top: 23px
        +r(480)
          margin-top: 12px
        svg
          width: 9px
          height: 5px
          margin-left: 5px
        +r(480)
          display: block
      .beach-desc__reviews__title
        margin-right: 24px
        margin-bottom: 0



@media (max-width: 1024px) and (orientation: landscape)
  .beach-desc
    &__overviewMob
      margin-top: 30px
      padding: 14px 39px 41px 39px
      border-top: 1px solid #959595
      width: 100%
      display: flex
      flex-direction: column
      &__item
        display: flex
        align-items: center
        &--title
          margin-bottom: 19px
        &__review
          &:first-child
            margin-right: 27px
          p
            font-family: "Open Sans"
            font-weight: normal
            font-size: 14px
            color: #000
          a
            font-family: "Open Sans"
            font-weight: 600
            text-decoration: underline!important
            font-size: 11px
            line-height: 24px
            color: #363636
      &__more
        font-family: "Open Sans"
        font-weight: 600
        text-decoration: underline!important
        font-size: 14px
        color: #095161
        margin-top: 23px
        +r(480)
          display: none
      &__show
        display: none
        font-family: "Open Sans"
        font-weight: 600
        text-decoration: underline!important
        font-size: 14px
        color: #095161
        margin-top: 23px
        +r(480)
          margin-top: 12px
        svg
          width: 9px
          height: 5px
          margin-left: 5px
        +r(480)
          display: block
      .beach-desc__reviews__title
        margin-right: 24px
        margin-bottom: 0


@media (max-width: 480px)
  .beach-desc
    &__overviewMob
      padding: 15px 19px
      margin-top: 0
      &__item
        flex-direction: column
        &--title
          flex-direction: row
          justify-content: space-between
        &__review
          max-height: 66px
          overflow: hidden
          a
            display: none
          &:last-child
            display: none