.beach-about
  padding: 30px 0 55px 0
  border-top: 1px solid #959595
  border-bottom: 1px solid #959595
  margin-bottom: 40px
  &__title
    margin-bottom: 41px
    +r(480)
      margin-bottom: 16px
  &__inner
    font-family: "Open Sans"
    font-weight: normal
    font-size: 15px
    line-height: 24px
    color: #393939
    +r(480)
      max-height: 149px
      overflow: hidden
  &__link
    margin-top: 13px
    +r(480)
      margin-top: 10px
      margin-right: 11px
    a
      margin-top: 11px
      font-family: "Open Sans"
      font-weight: 600
      text-decoration: underline!important
      font-size: 14px
      color: #095161
      svg
        width: 9px
        height: 5px
        margin-left: 4px
  +r(768)
    padding: 22px 30px 31px 30px
  +r(480)
    padding: 20px 20px 31px 20px
    margin-bottom: 20px