.beach-desc
  display: flex
  flex-direction: column

  &__mobLink
    display: none
    margin-top: 4px

    a
      font-family: SegoeUI
      font-weight: 600
      font-size: 12.9px
      text-align: left
      color: #393939

  &__sliderMob, &__overviewMob
    display: none

  &__overview
      &__slider
        +r(1265)
          max-width: 100%
          &__item
            width: 100%
          &__wrapper
            display: flex
            overflow: hidden
            flex: 2 1 auto
            max-width: calc(100vw - 257px)

        +r(780)
          max-width: 100%
          &__item
            width: 100%
          &__wrapper
            display: flex
            overflow: hidden
            flex: 2 1 auto
            max-width: 100%


  &__head
    margin: 41px 0 22px 0
    display: flex
    align-items: center
    width: 100%

  &__title-wrapper
    display: flex
    align-items: flex-start
    flex-shrink: 0

  &__separator
    height: 50px
    width: 2px
    background: #707070
    margin: 0 42px 0 41px

  &__btn-wrapper
    display: flex
    width: 100%

  &__badge
    font-family: "Open Sans"
    font-weight: normal
    font-size: 16px
    color: #1c8518
    display: flex
    align-items: center

    svg
      margin-right: 11px
      width: 37px
      height: 37px

  &__title
    margin-right: 30px
    height: 63px

    h2, h3
      margin-bottom: 0

    h2
      font-family: SegoeUI
      font-weight: 600
      font-size: 28px
      color: #222227
      line-height: 37px

    h3
      font-family: SegoeUI
      font-weight: normal
      font-size: 18px
      color: #757575
      line-height: 24px

  &__rating
    display: flex
    align-items: center
    height: 50px

  &__out
    font-family: SegoeUI
    font-weight: normal
    font-size: 14px
    color: #393939
    margin-left: 12px

  &__points
    width: 50px
    height: 50px
    border-radius: 6px
    background: #4595D3
    display: flex
    justify-content: center
    align-items: center
    color: white
    font-family: SegoeUI
    font-weight: 600
    font-size: 25px

  &__share
    font-family: SegoeUI
    font-weight: 600
    font-size: 16px
    color: #001833
    height: 24px
    display: flex
    align-items: center
    margin: 0 0 0 auto

    svg
      width: 27px
      height: 24px
      margin-right: 12px

  &__info-wrapper
    display: flex
    align-items: center
    flex-wrap: wrap

    &__item
      display: flex
      flex-wrap: wrap

    &__separator
      display: none
      +r(480)
        display: block
        width: calc(100% + 17px + 17px)
        border-bottom: 1px solid #959595
        margin: 0 -17px 17px -17px


  &__size
    margin-right: 6px

  &__location
    margin-right: 140px
    +r(1234)
      margin-right: 10px
      font-size: 13px
    +r(1349)
      margin-right: 25px

  &__size, &__location, &__weather__title
    font-family: SegoeUI
    font-weight: 400
    font-size: 15px
    color: #191919
    +r(1234)
      font-size: 13px
    b
      font-weight: 600

  &__weather
    display: flex
    align-items: center
    margin-right: 42px
    +r(1234)
      margin-right: 10px

    &__icon-wrapper
      display: flex

    &__item
      font-family: SegoeUI
      font-weight: 600
      font-size: 24px
      color: #3681bb
      display: flex
      align-items: center
      line-height: 1

      &:first-child
        margin-left: 12px
        margin-right: 19px

      i
        display: flex
        align-items: flex-start
        font-style: normal
        font-family: SegoeUI
        font-weight: 600
        font-size: 20px
        color: #3681bb
        margin-left: 3px

        svg
          width: 4px
          height: 4px

      &--wind
        color: #1A5685

        i
          color: #1A5685

    &__ico
      height: 22px
      display: flex
      justify-content: center
      align-items: center
      margin-right: 7px

      svg
        width: 33px
        height: 22px

  &__date
    display: flex

    p
      font-family: SegoeUI
      font-weight: normal
      font-size: 14px
      line-height: 17px
      color: #393939
      margin-bottom: 0
      margin-right: 20px

    &__reset
      display: flex
      justify-content: center
      align-items: center
      font-family: "Open Sans"
      font-weight: normal
      font-size: 12px
      color: #474848
      transition: color .5s ease

      &:hover
        color: #89BFCC

    &__go
      margin-right: 12px
      background: #89BFCC
      display: flex
      justify-content: center
      align-items: center
      border-radius: 10px
      font-family: "Open Sans"
      font-weight: 600
      font-size: 16px
      color: #fff
      text-decoration: none
      text-transform: uppercase
      padding: 6px 11px 7px 12px

      &:hover
        color: white

    &__picker
      display: flex
      align-items: center
      border: 1px solid #D2D5DF
      border-radius: 10px
      padding: 0 12px
      cursor: pointer
      margin-right: 9px

      p
        font-family: "Open Sans"
        font-weight: normal
        font-size: 14px
        color: #474848
        margin-left: 4px
        margin-right: 0

        &:last-child
          margin-right: 24px

      b
        font-weight: 600

      svg
        width: 16px
        height: 18px
        margin-right: 9px

      &__separator
        height: 100%
        width: 1px
        display: block
        background: #D2D5DF
        margin: 0 14px

@media (max-width: 768px)

  .beach-desc
    &__overview
      display: none

    &__overviewMob
      display: flex

    &__sliderMob
      display: block

    &__head
      padding: 0 39px 0 37px
      margin: 20px 0 7px 0
      +r(700)
        flex-wrap: wrap

    &__title
      margin-right: 22px

      h2
        font-size: 26px
        line-height: 35px

      h3
        font-size: 16px

    &__separator
      margin: 0 21px 0 19px
      +r(700)
        display: none

    &__info-wrapper
      padding: 0 39px 0 37px
      flex-direction: column
      align-items: flex-start
      &__item
        margin-bottom: 21px
    &__btn-wrapper
      align-items: center

    &__location
      margin-right: 0
      font-size: 14px

    &__size
      font-size: 14px

    &__weather
      margin-right: 20px

      &__title
        font-size: 14px
        white-space: nowrap

      &__item
        &:first-child
          margin-left: 20px
          margin-right: 18px
        font-size: 22px
        line-height: 30px

        i
          font-size: 18px

      &__ico
        margin-right: 6px

    &__date
      p
        font-size: 13px
        line-height: 15px
        margin-right: 12px

      &__reset, &__go
        display: none

      &__picker
        margin-right: 0
        padding: 0 9px

        svg
          flex-shrink: 0
          margin-right: 6px

        &__separator
          margin: 0 11px

        p
          white-space: nowrap
          margin-right: 0

          &:last-child
            margin-right: 0



@media (max-width: 1024px) and (orientation: landscape)

  .beach-desc
    &__overview
      display: none

    &__overviewMob
      display: flex

    &__sliderMob
      display: block
      &__wrapper
        justify-content: center

    &__head
      padding: 0 39px 0 37px
      margin: 20px 0 7px 0
      +r(700)
        flex-wrap: wrap

    &__title
      margin-right: 22px

      h2
        font-size: 26px
        line-height: 35px

      h3
        font-size: 16px

    &__separator
      margin: 0 21px 0 19px
      +r(700)
        display: none

    &__info-wrapper
      padding: 0 39px 0 37px
      flex-direction: column
      align-items: flex-start
      &__item
        margin-bottom: 21px
    &__btn-wrapper
      align-items: center
    &__location
      margin-right: 0
      font-size: 14px

    &__size
      font-size: 14px
    &__weather
      margin-right: 20px
      &__title
        font-size: 14px
        white-space: nowrap
      &__item
        &:first-child
          margin-left: 20px
          margin-right: 18px
        font-size: 22px
        line-height: 30px

        i
          font-size: 18px

      &__ico
        margin-right: 6px

    &__date
      p
        font-size: 13px
        line-height: 15px
        margin-right: 12px
      &__reset, &__go
        display: none
      &__picker
        margin-right: 0
        padding: 0 9px
        svg
          flex-shrink: 0
          margin-right: 6px
        &__separator
          margin: 0 11px
        p
          white-space: nowrap
          margin-right: 0
          &:last-child
            margin-right: 0

@media (max-width: 480px)
  .beach-desc
    &__mobLink
      display: block

    &__head
      padding: 0 17px
      margin: 13px 0 24px 0
      flex-direction: column
      align-items: flex-start

    &__title
      margin-right: 9px
      h2
        font-size: 24px
        line-height: 32px
      h3
        font-size: 16px
        line-height: 21px
        margin-top: 5px

    &__badge
      margin-top: 4px
      font-size: 14px
      line-height: 19px

      svg
        margin-right: 5px
        width: 31px
        height: 31px

    &__btn-wrapper
      width: 100%
      display: flex
      align-items: center
      justify-content: space-between

    &__separator
      display: none

    &__info-wrapper
      padding: 0 17px

    &__weather
      margin-right: 0

      &__item
        &:first-child
          margin-left: 14px
          margin-right: 14px

    &__date
      display: none

    &__info-wrapper
      &__item
        &:first-child
          width: 100%
          padding-bottom: 30px
          margin-bottom: 0

        &:nth-child(2)
          margin-top: 24px

    &__share
      margin: 0

    &__points
      width: 33px
      height: 33px
      font-size: 15px
      line-height: 30px
      background: #0D7FC1

    &__out
      font-size: 12px
      margin-left: 10px