.beach-slider-line
  margin-bottom: 98px
  &__title
    margin-bottom: 48px
    h2
      font-family: "Open Sans"
      font-weight: 600
      font-size: 20px
      line-height: 24px
      color: #0b5a88
      margin-bottom: 5px
    span
      font-family: "Open Sans"
      font-weight: normal
      font-size: 16px
      line-height: 25px
      color: #313131

@media (max-width: 768px)
  .beach-slider-line
    margin-bottom: 48px
    &__title
      padding: 0 30px
      margin-bottom: 28px
  .beach-recently-viewed
    overflow: hidden
    padding-left: 30px
    .slider-beach
      .item-container
        max-width: 300px

@media (max-width: 480px)
  .beach-slider-line
    margin-bottom: 32px
    &__title
      padding: 0 20px
      margin-bottom: 20px
    .slider-beach
      width: 100%
      .item-container
        margin: 0
        max-width: 300px
        padding: 0 7px

  .beach-recently-viewed
    padding-left: 20px