.beach-desc
  &__reviews
    margin-left: 24px
    border-top: 1px solid #C0C0C0
    padding-top: 18px
    &__title-wrapper
      display: flex
      align-items: center
    &__title
      font-family: "Open Sans"
      font-weight: 600
      font-size: 18px
      line-height: 24px
      color: #09839f
      margin-right: 17px
    &__addBtn
      button
        background: #539CA7
        border-radius: 8px
        padding: 7px 11px
        font-family: "Open Sans"
        font-weight: 600
        font-size: 14px
        color: #fff
      svg
        width: 10px
        height: 5px
        margin-left: 8px
        +r(480)
          display: none
    &__review-wrapper
      display: flex
      flex-direction: column
      margin-top: 19px
    &__review
      margin-bottom: 25px
      &:last-child
        margin-bottom: 29px
      &__text
        font-family: "Open Sans"
        font-weight: normal
        font-size: 15px
        color: #000
        line-height: 20px
      &__author
        font-family: "Open Sans"
        font-weight: 600
        text-decoration: underline!important
        font-size: 11px
        line-height: 24px
        color: #363636
  &__reviews-btn
    a
      font-family: "Open Sans"
      font-weight: 600
      text-decoration: underline!important
      font-size: 14px
      line-height: 19px
      color: #095161
