.beach-questionnaire
  margin-top: 20px
  margin-bottom: 37px
  padding: 19px 0
  border-top: 1px solid #959595
  border-bottom: 1px solid #959595
  display: flex
  justify-content: center
  align-items: center
  +r(700)
    flex-wrap: wrap
  &__question
    margin-right: 44px
    font-family: "Open Sans"
    font-weight: 600
    font-size: 16px
    letter-spacing: 0.01em
    line-height: 20px
    color: #331800

  form
    display: flex

  &__item
    display: flex
    align-items: center
    margin-right: 37px

  &__radio
    input
      position: absolute
      z-index: -1
      opacity: 0
      margin: 10px 0 0 7px
      &:checked + .beach-questionnaire__radio__text
        color: #0D7FC1
        font-weight: 600
        &:after
          opacity: 1

    &__text
      position: relative
      padding: 0 0 0 29px
      cursor: pointer
      display: flex
      align-items: center
      color: #313131
      font-size: 16px
      line-height: 25px
      font-family: "Open Sans"
      &:before
        content: ''
        position: absolute
        top: 4px
        left: 0
        width: 17px
        height: 17px
        border: 1px solid #CDD1DA
        border-radius: 50%
        background: #FFF
      &:after
        content: ''
        position: absolute
        top: 7px
        left: 3px
        width: 11px
        height: 11px
        border-radius: 50%
        background: #333
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5)
        opacity: 0
        transition: .2s

@media (max-width: 768px)
  .beach-questionnaire
    border-top: none
    margin-top: 0
    &__item
      &:last-child
        margin-right: 0

@media (max-width: 480px)
  .beach-questionnaire
    border-top: none
    margin-top: 0
    margin-bottom: 0
    flex-direction: column
    align-items: center
    &__question
      margin-right: 0
      margin-bottom: 20px
      text-align: center