.beach-location
  padding-bottom: 23px
  &__wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__title
    h2
      font-family: "Open Sans"
      font-weight: 600
      font-size: 20px
      line-height: 24px
      color: #0b5a88
      margin-bottom: 45px
  &__col
    &:first-child
      margin-right: 55px
      flex-shrink: 0
    &:last-child
      flex: 1
  &__desc
    &__inner
      width: 100%
      display: flex
      align-items: center
      position: relative
      &:first-child
        margin-bottom: 20px
      &--drop-dawn
        margin-top: 21px
        .beach-location__desc__inner__button
          font-family: "Open Sans"
          font-weight: 600
          font-size: 15px
          color: #000
          display: flex
          align-items: center
          border: none
          background: transparent
          cursor: pointer
          outline: none
          &:hover
            color: #0a3266
        svg
          flex-shrink: 0
          width: 9px
          height: 5px
          margin-left: 10px
      &--mapMob
        display: none
      &--map
        height: 350px
        width: 100%
        .google-map
          width: 100%
        #psmap
          height: 350px
          width: 100%
      &__drop-dawn
        display: none
        position: absolute
        background: white
        padding: 10px
        top: 25px
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17)
        border-radius: 5px
        li
          text-align: center
          padding: 3px 0
      &__info
        display: flex
        margin-right: 70px
        &:last-child
          margin-right: 0
        &--link
          a
            font-size: 14px
            font-family: "Open Sans"
            line-height: 19px
            text-decoration: underline !important
            color: #095161
        &--linkMob
          a
            display: none
        b
          font-family: "Open Sans"
          font-weight: 600
          font-size: 50px
          color: #d86a0a
          margin-right: 9px
        p
          margin-top: 17px
          display: flex
          flex-direction: column
          font-family: "Open Sans"
          font-weight: 600
          font-size: 18px
          color: #d86a0a
          margin-bottom: 0
          line-height: 1.3
          span
            font-family: Roboto
            font-weight: normal
            font-size: 14px
            color: #000
        &--blue
          b, p
            color: #0891A5
            span
              color: #000
  &__geo
    &__item

      &:first-child
        margin-bottom: 35px
      h3
        font-family: "Open Sans"
        font-weight: 600
        font-size: 15px
        color: #000
        margin-bottom: 19px
      &__inner
        display: flex
        padding-left: 20px
        flex-wrap: wrap
        &:not(:last-child)
          margin-bottom: 23px
        &-wrapper
          +r(700)
            display: flex
            flex-wrap: wrap
        svg
          width: 21px
          height: 29px
          margin-right: 20px
        p
          display: flex
          flex-direction: column
          span
            display: flex
            align-items: center
            font-family: "Open Sans"
            font-weight: normal
            font-size: 15px
            color: #000
            margin-bottom: 1px
            &:last-child
              font-size: 12px
              line-height: 16px
              color: #4B4949
          svg
            width: 4px
            height: 4px
            margin: 0 6px 0 9px

@media (max-width: 768px)
  .beach-location
    padding: 19px 0 32px 0
    &__title
      h2
        margin-bottom: 15px
    &__wrapper
      flex-direction: column
    &__col
      &:first-child
        padding: 0 30px
        margin-right: 0
    &__desc
      &__inner
        justify-content: space-between
        padding: 0 30px
        &--drop-dawn
          display: none
        &--map
          padding: 0
          height: 278px
          margin: 19px 0 22px 0
          //width: calc(100% + 60px)
          width: 100%
          //margin: 19px -30px 22px -30px
          .google-map
            width: 100%
          #psmap
            height: 278px
            width: 100%
        &__info
          b
            font-size: 45px
            line-height: 61px
          p
            margin-top: 7px
            font-size: 16px
            line-height: 22px
          &--link
            a
              font-size: 13px
    &__geo
      &__item
        &:first-child
          margin-bottom: 14px
        h3
          font-size: 14px
          margin-bottom: 11px
        &__inner-wrapper
          display: flex
          justify-content: space-between

@media (max-width: 584px)
  .beach-location
    margin: 0
    padding: 20px 0 22px 0
    &__title
      h2
        margin-bottom: 15px
    &__wrapper
      flex-direction: column
    &__col
      &:first-child
        margin-right: 0
        padding: 0 20px

    &__desc
      &__inner
        justify-content: space-between
        flex-direction: column
        align-items: flex-start
        &--drop-dawn
          display: none
        &--map
          height: 232px
          margin: 15px 0 21px 0
          .google-map
            width: 100%
          #psmap
            height: 232px
            width: 100%
        &__info
          margin-right: 0
          &:first-child
            margin-top: 28px
          b
            font-size: 14px
            line-height: 20px
          p
            flex-direction: row
            margin-top: 0
            font-size: 14px
            line-height: 20px
            span
              margin-left: 7px
          &--link
            a
              display: none
          &--linkMob
            padding: 0 20px
            a
              display: flex
    &__geo
      &__item
        &:first-child
          margin-bottom: 14px
        h3
          font-size: 14px
          margin-bottom: 12px
        &__inner-wrapper
          display: flex
          justify-content: space-between
          flex-direction: column