.beach-features
  padding-bottom: 35px
  border-bottom: 1px solid #959595
  margin-bottom: 20px
  &__wrapper
    display: flex
    align-items: flex-start
  &__title
    margin-right: 64px
    flex-shrink: 0
    h2
      font-family: "Open Sans"
      font-weight: 600
      font-size: 20px
      line-height: 24px
      color: #0b5a88

  &__items
    display: flex

  &__icons
    display: flex
    flex-direction: column
    width: 100%
    &__wrapper
      display: flex
      flex-wrap: wrap
      margin-bottom: 31px
    &__links
      display: flex
      justify-content: space-between

    &__link
      font-family: "Open Sans"
      font-weight: 600
      text-decoration: underline!important
      font-size: 15px
      &--view
        color: #095161
      &--add
        color: #5A5A5A

  &__icon
    display: flex
    align-items: center
    margin-right: 52px
    margin-bottom: 14px
    min-width: 207px
    +r(480)
      min-width: 66px
    svg
      margin-right: 8px
      width: 38px
      height: 38px
    p
      min-width: 149px

  &__separator
    width: 1px
    height: 182px
    flex-shrink: 0
    background: #C0C0C0
    margin: 0 50px 0 47px
    +r(1000)
      margin: 0 20px
  &__quality
    flex-shrink: 0
    &__title
      font-family: Roboto
      font-weight: 500
      font-size: 17px
      letter-spacing: 0.03em
      color: #373737
      display: flex
      margin-bottom: 30px
      span
        display: flex
        align-items: center
        svg
          width: 18px
          height: 18px
          margin: 0 8px 0 14px
    &__bar
      display: flex
      align-items: center
      font-family: Roboto-Regular
      font-weight: normal
      font-size: 15px
      line-height: 20px
      letter-spacing: 0.03em
      color: #191919
      margin-bottom: 11px
      &:last-child
        margin-bottom: 0
      span
        margin-right: 39px
        min-width: 105px
      &__line
        width: 110px
        height: 5px
        border-radius: 5px
        background: #D9D9D9
        margin: 0 15px 0 0
        div
          border-radius: 5px
          width: 75%
          height: 5px
          background: #09839F


@media (max-width: 1024px) and (orientation: landscape)
  .beach-features
    padding: 19px 27px 30px 27px
    &__title
      margin-bottom: 27px
    &__wrapper
      flex-direction: column
    &__icon
      margin-right: 22px
      &:nth-child(3n+3)
        margin-right: 22px
    &__separator
      margin: 0 17px

    &__quality
      &__title
        flex-direction: column
        span
          margin-right: 4px
          svg
            margin: 0 8px 0 0
      &__bar
        &__line
          display: none
    &__title
      h2
        font-family: "Open Sans"
        font-weight: 600
        font-size: 17px
        line-height: 24px
        color: #0b5a88

@media (max-width: 768px)
  .beach-features
    padding: 19px 27px 30px 27px
    &__title
      margin-bottom: 27px
    &__wrapper
      flex-direction: column
    &__icon
      margin-right: 22px
      &:nth-child(3n+3)
        margin-right: 22px
    &__separator
      margin: 0 17px

    &__quality
      &__title
        flex-direction: column
        span
          margin-right: 4px
          svg
            margin: 0 8px 0 0
      &__bar
        &__line
          display: none
    &__title
      h2
        font-family: "Open Sans"
        font-weight: 600
        font-size: 17px
        line-height: 24px
        color: #0b5a88
@media (max-width: 480px)
  .beach-features
    padding: 20px 20px 31px 20px
    overflow: hidden
    &__title
      margin-bottom: 15px
      margin-right: 0
    &__separator, &__quality
      display: none
    &__icons
      width: 320px
      &__links
        display: none
      &__wrapper
        margin-bottom: 0
        flex-wrap: nowrap
        overflow: auto
    &__icon
      flex-direction: column
      align-items: center
      margin-bottom: 0
      p
        text-align: center
        min-width: 66px
        max-width: 66px
        flex-shrink: 0
        font-size: 13px
      svg
        margin-right: 0
        margin-bottom: 4px