.beach-tabs
  &__more
    text-decoration: underline!important
    color: #095161
    font-size: 14px
    line-height: 19px
    font-weight: 600
    margin-left: 20px
    +r(768)
      padding: 0 30px
      margin: 0 20px
    +r(480)
      display: none
  &__title
    margin-bottom: 42px
    +r(768)
      padding: 0 30px
    +r(480)
      padding: 0 20px
      margin-bottom: 30px
    h2
      display: flex
      align-items: flex-start
      line-height: 24px
      span
        color: #000
        font-size: 17px
        line-height: 24px
        svg
          width: 18px
          height: 18px
          margin: 0 8px 3px 12px
  &__head
    display: flex
    border-bottom: 1px solid #CCCFDB
    margin-bottom: 27px
    +m(769)
      margin-right: 20px
    +r(768)
      padding: 0 30px
      margin-right: 0
    +r(480)
      padding: 0
    &__item
      cursor: pointer
      background: #fff
      display: flex
      flex-direction: column
      align-items: center
      padding: 13px 0
      width: 140px
      border-top: 1px solid transparent
      border-right: 1px solid transparent
      border-bottom: 1px solid #CCCFDB
      transition: all .2s ease
      margin-bottom: -1px
      +r(480)
        width: 100%
      &--active
        border-top: 1px solid #0B5A88
        border-right: 1px solid #0B5A88
        border-bottom: 1px solid #fff
        b, span
          color: #0891A5
          font-weight: bold
  &__content
    display: none
    +r(768)
      padding: 0 30px
    +r(480)
      padding: 0 20px
    &--active
      display: block
    &__btn
      margin-left: 135px
    &__item
      display: flex
      padding: 30px 0
      margin: 0 20px
      border-bottom: 1px solid #959595
      width: calc(100% - 20px)
      +r(480)
        width: 100%
        margin: 0
      &:last-child
        border-bottom: 1px solid transparent
      &__inner
        min-width: 85px
      &__col
        display: flex
        flex-direction: column
        &:first-child
          margin-right: 31px
          flex-shrink: 0
          +r(480)
            flex-direction: row
        &:last-child
          width: 100%
          max-width: calc(100% - 85px)
          +r(480)
            max-width: 100%
          align-items: flex-end

      &__rating
        border: 1px solid green
        border-radius: 5px
        font-family: "Open Sans"
        font-weight: 600
        font-size: 15px
        color: #373737
        width: 30px
        height: 30px
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 15px
      &__name
        font-family: "Open Sans"
        font-weight: normal
        font-size: 11px
        color: #373737
        margin-bottom: 4px
      &__time
        font-family: "Open Sans"
        font-weight: normal
        font-size: 11px
        color: #0891a5
      &__text
        font-family: "Open Sans"
        font-weight: normal
        font-size: 15px
        line-height: 24px
        color: #373737
        width: 100%
      &__links
        width: 100%
        display: flex
        justify-content: space-between
      &__link
        a
          color: #373737
          font-family: "Open Sans"
          font-weight: normal
          font-size: 12px
          b
            font-weight: bold
        &--more
          opacity: 0
          a
            cursor: default
            color: #095161
            font-size: 15px
            display: flex
            align-items: center
            svg
              width: 9px
              height: 6px
              margin-left: 9px
  @media (max-width: 768px)
    .beach-tabs
      &__content
        &__item
          &__link
            &--more
              opacity: 1
              a
                cursor: pointer

  @media (max-width: 480px)
    .beach-tabs
      &__content
        &__btn
          margin: 0 0 30px 0
        &__item
          flex-direction: column
          border-bottom: 1px solid transparent
          padding: 0 0 30px 0
          &:last-child
            padding: 0
          &__rating
            margin-right: 11px
            margin-bottom: 0
          &__inner
            line-height: 14px
            margin-bottom: 15px
          &__text
            max-height: 149px
            overflow: hidden
          &__col
            &:first-child
              align-items: flex-start
              flex-direction: row