.beach-desc
  &__overview
    margin-top: 26px
    &__item
      flex-shrink: 0
      +r(1265)
        &:first-child
          flex-grow: 2
      &:last-child
        flex-shrink: 1
        width: 100%
        max-width: 100%
      &__wrapper
        display: flex
        flex-wrap: wrap
      &__other
        display: flex
        flex-direction: column
        a
          &:not(:last-child)
            margin-bottom: 7px
          &:hover
            color: white
        &__photos, &__panoramas, &__list
          text-align: center
          color: white
          width: 227px
          height: 139px
          display: flex
          align-items: center
          justify-content: center
          flex-direction: column
          svg
            width: 39px
            height: 39px
            margin-bottom: 6px
        &__photos
          background-image: url("./../images/pictures/beach-c6.png")
        &__panoramas
          background-image: url("./../images/pictures/beach-c6.png")
        &__list
          background-image: url("./../images/pictures/beach-c6.png")
    &__wrapper
      display: flex
      height: 100%
      +r(1265)
        flex-wrap: wrap
    &__slider-controls
      display: flex
      position: absolute
      justify-content: space-between
      width: 100%
      z-index: 2
      top: 50%
      transform: translateY(-50%)
      &__arrow
        position: relative
        &--left
          left: 25px
        &--right
          right: 25px
        svg
          width: 40px
          height: 40px
    &__slider
      max-width: 700px
      margin-right: 6px
      border-radius: 10px
      overflow: hidden
      &__wrapper
        position: relative
      &__item
        position: relative
        display: flex
        height: 100%
        max-height: 430px
        img
          width: 100%

        &__badge
          border-radius: 10px
          z-index: 2
          display: flex
          position: absolute
          top: 28px
          left: 25px

          &__item
            background: #fff
            border-radius: 10px 0 0 10px
            padding: 7px 14px 6px 12px
            display: flex
            flex-direction: column
            justify-content: center

            &:last-child
              border-radius: 0 10px 10px 0
              background: #09839F
              color: #fff
              padding: 7px 14px 0 12px
              span
                font-size: 11px
                line-height: 0px
                &:last-child
                  font-size: 14px
                  line-height: 19px
                  margin-left: 17px
                  b
                    font-size: 22px
                    line-height: 22px

        &__accommodation
          display: flex
          font-size: 12px

          span
            font-weight: bold
            margin-right: 3px

          p
            margin: 0
            padding: 0
            text-transform: uppercase

        &__found
          font-size: 12px
          text-transform: uppercase
          color: #828080
          line-height: 16px

        img
          border-radius: 10px
          height: 100%
