.beach-content
  padding-bottom: 33px
  border-bottom: 1px solid #959595
  margin-bottom: 43px
  &__wrapper
    display: flex
    justify-content: space-between
  &__col
    &:first-child
      max-width: calc(100% - 430px)
      +r(480)
        max-width: 100%
      +r(768)
        max-width: 100%
  &__ad
    margin-left: 110px
    flex-shrink: 0
    width: 320px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background: #eee
    font-size: 14px
    line-height: 1.65
    color: #ccc

@media (max-width: 768px)
  .beach-content
    &__ad
      display: none

@media (max-width: 480px)
  .beach-content
    margin-bottom: 20px
    &__ad
      display: none
    &__wrapper
      padding-bottom: 20px