.site-breadcrumb
  margin-top: 12px
  display: flex
  a
    font-family: SegoeUI
    font-weight: normal
    font-size: 12px
    line-height: 16px
    color: #606060
    &:not(:last-child)
      &:after
        content: '>'
        font-family: SegoeUI
        padding: 0 8px
        font-weight: normal
        font-size: 12px
@media (max-width: 1024px)
  .site-breadcrumb
    display: none
