.cimgsl
    position: relative
    border-radius: 10px
    overflow: hidden
    &__slide
        background-size: cover!important
        background-position: top center!important
        padding-bottom: 20%
        background-repeat: no-repeat!important
        height: 0
    &__slider
        opacity: 0
        visibility: hidden
        &.slick-initialized
            opacity: 1
            visibility: visible
    img
        // max-width: 100%
    .slick-dots
        position: absolute
        left: 0
        width: 100%
        height: 8px
        bottom: 14px
        display: inline-block
        text-align: center
        margin-bottom: 0
        li
            width: 8px
            height: 8px
            display: inline-block
            margin-right: 12px
            &:last-of-type
                margin-right: 0
            &.slick-active
                button
                    transform: scale(1.7)
            button
                color: transparent
                width: 8px
                height: 8px
                display: inline-block
                background: #fff
                overflow: hidden
                border-radius: 100%
                outline: none
                border: none
    &__slider
        border-radius: 10px
        overflow: hidden
    &__flag
        position: absolute
        top: 13px
        right: 13px
        width: 32px
        height: 32px
        background: rgba(#000, .5)
        border-radius: 100%
        display: flex
        align-items: center
        justify-content: center
        .svg-cflag-icon
            width: 12px
            height: 15px