.footer
  background: #EFEEEE
  &__inner
    display: flex
  &__item
    display: flex
  &__wrapper
    display: flex
    align-items: center
    font-family: "Open Sans"
    font-weight: normal
    font-size: 12px
    line-height: 22px
    color: #313131
    flex-wrap: wrap
  &__logo
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    align-items: center
    margin-right: 10px
    svg
      width: 30px
      height: 30px
  &__copyright
    margin-right: 7px
    a
      transition: all .3s
      color: inherit
      &:hover
        color: #1154ac
  &__rights
    margin-right: 20px
  &__links
    a
      transition: all .3s
      color: inherit
      margin-right: 15px
      &:hover
        color: #1154ac
      &:last-child
        margin-right: 0

@media (max-width: 768px)
  .footer
    padding: 65px 15px


@media (max-width: 480px)
  .footer
    padding: 65px 0
    &__wrapper
      padding: 0 27px
    &__inner
      flex-direction: column