.header
  margin-top: 3px
  padding: 9px 0 11px 0
  width: 100%
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17)
  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__menu-arrow
    display: none
  .logo
    //margin-right: 92px
    display: flex
    align-items: center
    svg
      width: 45px
      height: 45px
      margin-right: 14px
    .text
      position: relative
      font-family: "Open Sans"
      font-weight: 600
      font-size: 20px
      letter-spacing: -0.02em
      color: #343434
      padding-right: 7px
      span
        font-size: 10px
        position: absolute
        top: -5px
        right: 0

  &__links
    //margin-right: 111px
    display: flex
    a
      color: #001833
      font-family: "Open Sans"
      font-weight: 600
      font-size: 14px
      letter-spacing: 0.03em
      &:not(:last-child)
        margin-right: 63px
  &__search
    position: relative
    //margin-right: 149px
    //width: 100%
    //max-width: 446px
    display: flex
    flex: 0 1 446px
    margin: 0 5px
    +r(1212)
      flex: 0 1 200px
    input
      border: 1px solid #D2D5DF
      height: 49px
      width: 100%
      border-radius: 10px
      outline: none
      text-indent: 24px
      font-family: SegoeUI
      font-weight: 600
      font-size: 15px
      color: #001833
      background: #F6F6F6
      vertical-align: text-top
      box-sizing: border-box
      padding: 6px 0 25px
    label
      position: absolute
      left: 24px
      bottom: 6px
      margin: 0
      padding: 0
      font-family: "Open Sans"
      font-weight: normal
      font-size: 14px
      letter-spacing: 0.01em
      color: #148192
    button
      position: absolute
      right: 28px
      top: 50%
      transform: translateY(-50%)
      width: 20px
      height: 20px
      outline: none
      display: flex
      align-items: center
      justify-content: center
      svg
        width: 20px
        height: 20px

  &__buttons
    display: flex

  &__lang
    margin-right: 20px
  &__review
    margin-right: 20px
  &__lang, &__review, &__login
    display: flex
    align-items: center
    position: relative
    &__ico
      display: flex
      justify-content: center
      align-items: center
      width: 20px
      height: 20px
      margin-right: 7px
      svg
        width: inherit
        height: inherit
    button
      font-family: SegoeUI
      font-weight: normal
      font-size: 14px
      letter-spacing: 0.02em
      color: #001833
      line-height: 19px
      outline: none
      i
        width: 9px
        height: 5px
        margin-left: 5px
        svg
          width: inherit
          height: inherit
    &__drop-down
      display: none
      position: absolute
      top: 100%
      margin: 0
      padding: 10px
      z-index: 2
      background: #fff
      width: 100%
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17)
      border-radius: 5px
      li
        text-align: center
        padding: 3px 0

  &__login
    &__ico
      width: 34px
      height: 34px
      margin-right: 8px
    button
      i
        width: 9px
        height: 5px
        margin-left: 6px


@media (max-width: 768px)
  .header
    padding: 16px 0 13px 0
    box-shadow: none
    .logo
      height: 36px
      margin: 0
      img
        height: 100%
    &__wrapper
      justify-content: center
      align-items: center
    &__menu-arrow
      display: flex
      justify-content: center
      align-items: center
      width: 10px
      height: 20px
      position: absolute
      left: 30px
      svg
        height: 20px
        width: 10px
    &__links, &__search, &__lang, &__review, &__login
      display: none

@media (max-width: 1024px) and (orientation: landscape)
  .header
    padding: 16px 0 13px 0
    box-shadow: none
    .logo
      height: 36px
      margin: 0
      img
        height: 100%
    &__wrapper
      justify-content: center
      align-items: center
    &__menu-arrow
      display: flex
      justify-content: center
      align-items: center
      width: 10px
      height: 20px
      position: absolute
      left: 30px
      svg
        height: 20px
        width: 10px
    &__links, &__search, &__lang, &__review, &__login
      display: none