.wrp
    min-height: 200vh
// reset button style
.rbtn
    outline: none
    border: none
    box-shadow: none
    appearance: none
    line-height: normal
    padding: 0
    background: transparent
    &:active,
    &:focus
        outline: none
    &:disabled
        opacity: .7
        pointer-events: none

// custom nuttons
.dbtn
    padding: 11px 20px
    line-height: normal
    border-radius: 10px
    color: #fff
    min-height: 45px
    text-align: center
    font-size: 16px
    display: block
    transition: all .3s ease
    position: relative
    text-overflow: ellipsis
    word-break: break-all
    letter-spacing: 1px
    &--green
        background: #09839F
        &:hover
            background: darken(#09839F, 10)
    &--bold
        font-weight: 600
        font-size: 16px
    &--blue
        background: #3B5999
        &:hover
            background: darken(#3B5999, 10)
    &--w100
        width: 100%
    &--bordered
        border: 1px solid #09839F
        color: #001833
        +rm
        &:hover
            border-color: darken(#001833, 10)
    &--view
        border: 1px solid #8F8F8F
        color: #222227
        font-weight: 600
        text-transform: capitalize
        font-size: 14px
        padding: 7px 20px
        &:hover
            border-color: darken(#001833, 10)
    &__icon
        width: 22px
        height: 24px
    &__text
        vertical-align: middle
    span
        display: inline-block
    
// custom checkbox
.pcheckbox
    position: relative
    padding-left: 25px
    cursor: pointer
    &::before
        content: ''
        position: absolute
        left: 0
        top: 3px
        width: 15px
        height: 15px
        background: #F6F6F6
        border: 1px solid #E1E1E1
        border-radius: 5px
        font-size: 9px
        display: flex
        align-items: center
        justify-content: center
input.cfchecbox[type="checkbox"]
    &:checked
        + label
            &::before
                content: '✔'
                color: #000
// custom input
.pinput
    height: 45px
    border-radius: 10px
    box-shadow: none
    outline: none
    appearance: none
    background: #FAFAFA
    border: 1px solid #F1F1F1
    font-size: 16px
    color: #333
    padding: 0 20px
    &::placeholder
        color: #CFD0D1
    &--w100
        width: 100%
    &--topradius
        border-radius: 10px 10px 0px 0px
        height: 54px
    &--bottomradius
        border-radius: 0px 0px 10px 10px
        border-top: none
        height: 54px
.mb-12
    margin-bottom: 12px
// custom colors
.pgreen
    color: #09839F!important
.pgrey
    color: #616161!important
.pdarkgrey
    color: #222227!important
.pdarkblue
    color: #001833!important
.pcherry
    color: #981212!important
.lightgreen
    color: #237E20!important

// custom fonts
.r-light
    +rl

// poverlay
.poverlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(#000, .5)
    z-index: 998
    display: none
// popup styles
.pbox-wrap
    position: fixed
    z-index: 999
    width: 100%
    height: 100%
    transition: transform .5s cubic-bezier(0.250, 0.775, 0.300, 0.985)
    top: 0
    left: 0
    transform: translateX(-100%)
    .poverlay
        z-index: -1
    &.opened
        transform: translateX(0)
    &--popupondesktop
        +m(768)
            display: flex
            align-items: center
            transform: translateX(0)
            justify-content: center
            visibility: hidden
            opacity: 0
            transition: all .2s ease
            will-change: opacity, visibility
            padding: 20px 35px
            box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.16)
            border-radius: 10px
            &.opened
                opacity: 1
                visibility: visible

.pbox
    padding: 20px 28px
    overflow: hidden
    width: 100%
    height: 100%
    background: #fff
    transition: transform .5s cubic-bezier(0.250, 0.775, 0.300, 0.985)
    -webkit-font-smoothing: antialiased
    z-index: 999
    +rr
    +m(768)
        max-width: 574px
        height: auto
        border-radius: 10px
    &--menu
        position: fixed
        border-radius: 0px!important
    &--secondstep
        .pbody
            max-height: calc(100vh - 50px)
            height: 100%
            +m(768)
                max-height: calc(100vh - 130px)
        +m(768)
            height: 574px
            max-height: 90vh
    &__inner
        height: 100%
        position: relative
    &--features
        p.pdarkblue
            font-family: 'Open Sans', sans-serif
            font-weight: 600
        +m(768)
            border-radius: 0
            padding: 22px
        .phead__left
            font-size: 20px
    &--share
        .svg-pfacebook-icon,
        .svg-plink-icon
            width: 15px
            height: 15px
        .svg-ptwitter-icon
            width: 17px
            height: 17px
        .svg-pwhatsapp-icon
            width: 19px
            height: 19px
        .svg-pembed-icon
            width: 21px
            height: 21px
        .plang__icon
            border-color: #A8AEB5
        .plang
            &:hover
                background: #F1F1F1
                color: #001833
    a
        text-decoration: none !important
        letter-spacing: 0.5px
    &--menu
        max-width: 404px!important
        width: 100%
        height: 100%!important
        transition: transform .5s cubic-bezier(0.250, 0.775, 0.300, 0.985)
        top: 0
        left: 0
        transform: translateX(-100%)
        &.opened
            transform: translateX(0)
        a
            font-size: 14px
        .postlink
            font-size: 15px
        .pbody
            max-height: calc(100vh - 100px)

.svg-pclose-icon
    width: 13px
    height: 13px
.phead
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 5px
    &__dots
        flex: auto
        text-align: center
        padding-left: 13px
    &__btn
        width: 13px
        height: 13px
        line-height: 0
    &__left
        color: #0B5A88
        font-size: 20px
        font-weight: 600
        font-family: "Open sans", sans-serif
    &__logo
        width: 164px
        height: 35px
        display: inline-block
    &--leftalign
        justify-content: flex-start

.pbody
    overflow: auto
    -webkit-overflow-scrolling: auto
    max-height: calc(100vh - 130px)
    padding: 20px 0 0
    +m(768)
        max-height: calc(90vh - 150px)
    &__sep
        display: flex
        margin: 20px 0
        position: relative
        text-align: center
        justify-content: space-between
        align-items: center
        font-size: 13px
        color: #616161
        &::after,
        &::before
            content: ''
            height: 1px
            background: #E4E4E4
            width: 45%
.breakblock
    display: none
    +m(768)
        display: block
.ptext
    color: #616161
    font-weight: 400
    font-size: 13px
    +rl

.pform
    font-size: 14px
    &__backtologin
        padding-left: 20px

.pinputwrap
    position: relative

.pshow
    font-size: 12px
    color: #5B5B5B
    position: absolute
    top: 50%
    right: 20px
    cursor: pointer
    transform: translateY(-50%)

.psignin
    .dbtn--bordered
        max-width: 330px
        margin: 0 auto

.pserrors,
.pssucces
    min-height: 70px
    border-radius: 10px
    padding: 15px
    &__link
        letter-spacing: 0.3px
        font-size: 13px
        +rl

.pserrors
    border: 1px solid #FF2608
.pssucces
    border: 1px solid #6A9C65
    .perrors__text
        color: #0E5E05

.perrors
    &__icon
        width: 10px
        height: 10px
        flex: 0 0 10px
        line-height: 0
        display: inline-block
    &__text
        vertical-align: middle
        color: #B92C2C
        font-size: 13px
    &__item
        margin-bottom: 0
        line-height: normal
        display: flex
        align-items: baseline

.plang
    display: flex
    align-items: center
    padding: 6px 8px
    border: 1px solid #F1F1F1
    border-radius: 10px
    transition: background .3s ease, color .3s ease
    will-change: background, color
    cursor: pointer
    color: #001833
    margin-bottom: 12px
    &:hover
        color: #fff
        background: #09839F
        .plang__icon
            background: #fff
    &__icon
        width: 31px
        height: 31px
        flex: 0 0 31px
        border: 1px solid #09839F
        border-radius: 100%
        display: inline-flex
        align-items: center
        justify-content: center
        transition: background .3s ease
        will-change: background
        svg
            width: 21px

.postlink
    color: #001833
    position: relative
    cursor: pointer
    display: inline-block
    &__icon
        display: inline-block
        width: 25px
        height: 25px
        vertical-align: text-bottom
    .svg-pphotogreen-icon
        width: 19px
        height: 17px
    .svg-previewgreen-icon
        width: 22px
        height: 24px
    &__text
        vertical-align: text-bottom
    &__title
        font-size: 14px
.input-file
    opacity: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.fsfeatureicon
    width: 38px
    height: 38px
    flex: 0 0 38px
    display: inline-block
    vertical-align: middle
    display: inline-flex
    align-items: center
    justify-content: center
    border-radius: 100%
    border: 1px solid #B6BAC9
.svg-fsdust-icon
    width: 24px
    height: 21px
.svg-fswind-icon
    width: 24px
    height: 16px
.svg-fswaterpark-icon
    width: 22px
    height: 20px
.svg-fshammock-icon
    width: 20px
    height: 20px
.svg-fscoctail-icon
    width: 15px
    height: 20px
.svg-fsswimming-icon
    width: 22px
    height: 14px
.svg-fsmountain-icon
    width: 21px
    height: 24px
.svg-fspalm-icon
    width: 21px
    height: 24px
.svg-fsmountain-icon
    width: 21px
    height: 16px
.svg-fslifeguard-icon
    width: 21px
    height: 21px
.svg-fsentrance-icon
    width: 26px
    height: 16px
.svg-fsballet-icon
    width: 26px
    height: 9px
.svg-fswifi-icon
    width: 20px
    height: 17px
.svg-fsshower-icon
    width: 16px
    height: 19px
.svg-fssport-icon
    width: 28px
    height: 12px
.svg-fsbeach-icon
    width: 17px
    height: 20px
.svg-fssurf-icon
    width: 21px
    height: 21px
.svg-fsgoggles-icon
    width: 25px
    height: 12px
.svg-fspark-icon
    width: 25px
    height: 25px

.fsfeature
    font-size: 15px
    // +rr

.fsiconsblock
    flex: 0 1 100%
    max-width: 100%
    +m(768)
        flex: 0 1 50%
        max-width: 50%

.fselips
    background: #001833
    display: inline-block
    width: 5px
    height: 5px
    border-radius: 100%
    vertical-align: middle

.gcircle
    width: 10px
    height: 10px
    display: inline-block
    border-radius: 100%
    border: 1px solid #707070
    &.active
        background: #707070

.psveremail
    a.psveremail__link
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        text-decoration: underline!important
        +m(768)
            position: static
            transform: none
            left: 0
    &__resendbtn
        margin-bottom: 25%

