.progress
  height: 3px
  width: 100%
  position: fixed
  top: 0
  left: 0
  display: block
  background: white
  .bar
    background: #09839F
    width: 1px
    height: 100%
    animation: progress 7s linear infinite


@keyframes progress
  from
    width: 1px
  50%
    width: 100%
  to
    width: 1px