.pscard
    font-size: 0px
    word-break: break-word
    +m(768)
        flex-direction: row
    &__leftinfo
        flex: 1
        +m(767)
            margin-right: 30px
    &__left
        max-width: 290px
        margin: 0 auto 20px
        width: 100%
        +m(767)
            margin-right: 20px
            margin-bottom: 0
    &__right
        flex: 1
    &__left,
    &__right
        +m(767)
            display: inline-block
            vertical-align: top
    &__right
        width: 100%
        +m(767)
            width: calc(100% - 320px)
.psappart
    word-break: break-all
    &__title
        color: #7A7A7A
        font-size: 13px
        font-weight: 600
        flex: 1
    &__name
        color: #222227
        font-size: 16px
        font-weight: 600
    &__stars
        display: flex
        align-items: center

.pshead
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

.stars
    svg
        width: 13px
        height: 13px

.psraiting
    display: flex
    align-items: center
    &__text
        font-family: "Segoe UI", sans-serif
        font-size: 14px
        margin-right: 10px
    &__num
        background: #0D7FC1
        color: #fff
        font-size: 14px
        padding: 0 5px
        border-radius: 3px
        min-width: 30px
        min-height: 30px
        display: flex
        align-items: center
        justify-content: center

.psdescr
    font-size: 13px
    line-height: 20px
    color: #001833

.pslocation
    display: flex
    align-items: center
    font-size: 13px
    color: #001833
    .svg-pslocation-icon
        width: 16px
        height: 22px
        flex: 0 0 16px

.psprice
    text-align: right
    color: #0891A5
    line-height: 1.2
    .rbtn
        min-height: auto
    &__usd
        sup
            font-size: 12px
            font-weight: 600
            position: relative
            top: -10px
            display: inline-block
            line-height: 1
        span
            font-size: 24px
            font-weight: 600
            text-transform: uppercase
    &__title
        color: #7A7A7A
        font-size: 13px
        +rr
    .dbtn.dbtn--view
        max-width: 100px
        margin-left: auto

.pstop
    padding: 12px
    span
        vertical-align: middle
    &__title
        color: #222227
        font-size: 22px
        font-weight: 700
        font-family: "Segoe UI", sans-serif
    &__text
        color: #001833
        font-size: 14px
        font-weight: 600

.pstab
    font-size: 0
    padding-left: 1px
    display: inline-block
    vertical-align: middle
    &__btn
        border: 1px solid #C7C7C7
        min-height: 35px
        padding: 0 20px
        color: #001833
        position: relative
        font-weight: 600
        font-size: 14px
        transition: all .2s ease
        will-change: background, color
        margin-left: -1px
        &:first-child
            border-radius: 10px 0 0 10px
        &:last-of-type
            border-radius: 0 10px 10px 0
        &:hover
            background: #09839F
            color: #ffffff
            border-color: #09839F
            box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16)
            z-index: 1
        +m(767)
            min-width: 130px
    &.active
        background: #09839F
        border-color: #09839F
        color: #fff

.psdatepicker
    padding: 10px 15px 5px 15px
    color: #465280
    border-radius: 10px
    border: 1px solid #D2D5DF
    &__day
        color: #55608A
        font-size: 14px
        font-weight: 600
        margin-right: 5px
    &__label
        font-size: 13px
        min-width: 32px
        font-weight: 600
        text-transform: capitalize
    &__input
        font-size: 14px
        border: none
        outline: none
        appearance: none
        box-shadow: none
        max-width: 82px
    &__row
        white-space: nowrap
        &--bordered
            border-bottom: 1px solid #D2D5DF

.pspopup
    font-size: 0px
    position: fixed
    margin: 37px
    width: calc(100% - 74px)
    height: calc(100% - 74px)
    z-index: 999
    overflow: hidden
    background: #ffffff
    +r(1024)
        overflow: auto
    +r(670)
        width: calc(100% - 14px)
        height: calc(100% - 14px)
        margin: 7px
    .pstop
        &__title
            +r(670)
                display: block
        &__text
            +r(670)
                display: block
                margin-bottom: 5px
    .pscard
        &__left
            +r(1626)
                display: block
                max-width: 100%
                margin: 0 auto 15px
            +r(1024)
                max-width: 300px
                width: 100%
                margin: 0 0 15px
            +r(670)
                max-width: 100%
        &__right
            +r(1626)
                width: 100%
        &__body
            @media (min-width: 1025px) and (max-width: 1199px)
                flex-direction: column
        &__leftinfo
            @media (min-width: 1025px) and (max-width: 1199px)
                margin-right: 0
        &__rightinfo
            @media (min-width: 1025px) and (max-width: 1199px)
                width: 100%
        .psprice
            @media (min-width: 1025px) and (max-width: 1199px)
                display: flex
                flex-wrap: wrap
                align-items: center
            &__title
                @media (min-width: 1025px) and (max-width: 1199px)
                    text-align: left
                    width: 100%
            &__usd
                @media (min-width: 1025px) and (max-width: 1199px)
                    margin-right: 20px
                    margin-bottom: 0!important
        .pslocation
            @media (min-width: 1025px) and (max-width: 1199px)
                margin-bottom: 20px
    &__close
        background: #ffffff
        width: 40px
        position: absolute
        border-radius: 100%
        right: 20px
        z-index: 1000
        top: 20px
        height: 40px
        box-shadow: 0 0 6px 3px rgba(0,0,0,.16)
        display: flex
        align-items: center
        justify-content: center
        .svg-psclosemap-icon
            width: 17px
            height: 17px
    &__left,
    &__right
        display: inline-block
        vertical-align: top
        height: 100%
    &__left
        padding-left: 25px
        width: 55%
        // max-width: 936px
        height: 100%
        +r(1024)
            width: 100%
        +r(670)
            height: auto
            padding: 0 10px
    &__right
        // width: calc(100% - 936px)
        width: 45%
        +r(1024)
            width: 100%
            height: 400px
        .google-map
            height: 100%
        #psmap
            width: 100%
            height: 100%
    &__filters
        max-width: 196px
        width: 100%
        overflow: auto
        height: calc(100% - 84px)
        .rbtn
            min-height: 35px
            padding: 5px 20px
    &__list
        width: calc(100% - 196px)
        height: calc(100% - 84px)
        padding-bottom: 30px
        overflow: auto
        padding-left: 25px
        +r(1626)
            padding-right: 20px
        +r(670)
            padding: 0
    &__list,
    &__filters
        display: inline-block
        vertical-align: top
        +r(670)
            width: 100%
            max-width: 100%
    &-overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 998
        background: rgba(#000, .5)


