@media (max-width:575px) {
	.recently-viewed .slider {
		max-width: 100%;
		margin: 0 -7px;
	}
}

@media (max-width:1199px) {
	.recently-viewed .slider .slick-list {
		overflow: visible
	}
}

.recently-viewed .slider .slick-list .slick-list {
	overflow: hidden
}

.recently-viewed .slider .slick-slide {
	padding: 0;
	margin: 0 15px;
	outline: none
}

.recently-viewed .slider .slick-slide .slick-slide{
	margin: 0;
}

@media (max-width:575px) {
	.recently-viewed .slider .slick-slide {
		padding: 0 7px
	}
}

.recently-viewed .slider .slick-slide .slick-slide {
	padding: 0
}

.recently-viewed .slider .slick-slide {
	background: #fff;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25)
}

@media (max-width:575px) {
	.recently-viewed .slider .slick-slide {
		box-shadow: none;
		border-radius: 0;
		overflow: visible
	}
}

.recently-viewed .slider .slick-slide .item-slider-container {
	position: relative;
	margin-bottom: 10px
}

@media (max-width:575px) {
	.recently-viewed .slider .slick-slide .item-slider-container {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		overflow: hidden
	}
}

.recently-viewed .slider .slick-slide .item-slider-container .add-bookmark {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: rgba(64, 64, 64, 0.6);
	background-image: url(../images/pictures/icon-bookmark-white.svg);
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: all .3s;
	z-index: 9
}

.recently-viewed .slider .slick-slide .item-slider-container .add-bookmark.active,
.recently-viewed .slider .slick-slide .item-slider-container .add-bookmark:hover {
	background-color: #404040
}

.recently-viewed .slider .slick-slide .location {
	padding: 0 10px;
	font-size: 11px;
	font-weight: bold;
	color: #303030
}

.recently-viewed .slider .slick-slide .content {
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between
}

.recently-viewed .slider .slick-slide .content .left .title {
	font-size: 16px;
	font-weight: 500;
	color: #0b6e7e;
	transition: all .3s
}

.recently-viewed .slider .slick-slide .content .left .title:hover {
	color: #1154ac
}

.recently-viewed .slider .slick-slide .content .left .size {
	font-size: 12px
}

.recently-viewed .slider .slick-slide .content .right {
	text-align: right
}

.recently-viewed .slider .slick-slide .content .right .rating {
	display: flex;
	align-items: center
}

.recently-viewed .slider .slick-slide .content .right .rating .text {
	text-align: center;
	font-size: 14px;
	line-height: 16px
}

.recently-viewed .slider .slick-slide .content .right .rating .text span {
	font-size: 10px;
	color: #a1a1a1;
	display: block
}

.recently-viewed .slider .slick-slide .content .right .rating .num {
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #0d7fc1;
	font-size: 14px;
	margin-left: 5px
}

.recently-viewed .slider .slick-slide .description {
	padding: 0 10px 10px 10px;
	font-size: 13px
}

.recently-viewed .slider .slick-next,
.recently-viewed .slider .slick-prev {
	margin: 0;
	padding: 0;
	outline: none;
	background: #fff;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 100px;
	text-indent: -9999px;
	border-radius: 50%;
	border: 1px solid #707070;
	z-index: 9;
	transition: all .3s
}

.recently-viewed .slider .slick-next:after,
.recently-viewed .slider .slick-prev:after {
	content: '';
	position: absolute;
	width: 14px;
	height: 14px;
	border-top: 2px solid #707070;
	border-left: 2px solid #707070;
	top: 12px;
	transition: all .3s
}

.recently-viewed .slider .slick-next:hover,
.recently-viewed .slider .slick-prev:hover {
	border-color: #1154ac
}

.recently-viewed .slider .slick-next:hover:after,
.recently-viewed .slider .slick-prev:hover:after {
	border-color: #1154ac
}

.recently-viewed .slider .slick-next.slick-disabled,
.recently-viewed .slider .slick-prev.slick-disabled {
	display: none!important
}

.recently-viewed .slider .slick-next.slick-prev,
.recently-viewed .slider .slick-prev.slick-prev {
	left: 0
}

.recently-viewed .slider .slick-next.slick-prev:after,
.recently-viewed .slider .slick-prev.slick-prev:after {
	transform: rotate(-45deg);
	left: 14px
}

.recently-viewed .slider .slick-next.slick-next,
.recently-viewed .slider .slick-prev.slick-next {
	right: 0
}

.recently-viewed .slider .slick-next.slick-next:after,
.recently-viewed .slider .slick-prev.slick-next:after {
	transform: rotate(135deg);
	right: 14px
}

.recently-viewed .slider .slick-dots {
	text-align: center;
	list-style: none;
	margin: -25px 0 0 0;
	padding: 0
}

.recently-viewed .slider .slick-dots li {
	display: inline-block;
	padding: 0 5px
}

.recently-viewed .slider .slick-dots li.slick-active,
.recently-viewed .slider .slick-dots li:hover {
	cursor: pointer
}

.recently-viewed .slider .slick-dots li.slick-active button,
.recently-viewed .slider .slick-dots li:hover button {
	background: #1e54b6;
	cursor: pointer
}

.recently-viewed .slider .slick-dots li button {
	outline: none;
	border: none;
	display: inline-block;
	width: 8px;
	height: 8px;
	padding: 0;
	margin: 0;
	text-indent: -9999px;
	background: #fff;
	border-radius: 50%;
	transition: all .3s;
	z-index: 999;
	position: relative;
}