.fsfilter
    position: relative
    margin-bottom: -15px
    &:not(:last-of-type)
        .fshead
            padding-bottom: 20px
    &:last-of-type
        margin-bottom: 0
        .fshead
            &.opened
                border-radius: 10px 10px 0 0
    word-break: break-word
    .pcheckbox
        font-size: 13px
        color: #474848
        margin-bottom: 0
        line-height: 1.2
        flex: 1
        &::before
            top: 0px
.fstitle
    color: #465280
    font-size: 14px
    font-weight: 700

.fshead
    color: #001833
    font-size: 14px
    font-weight: 600
    padding: 5px 10px
    background: #ffffff
    min-height: 32px
    border: 1px solid #C7C7C7
    border-radius: 10px 10px 0 0
    cursor: pointer
    // transition: all .1s ease
    will-change: background, color, padding-bottom
    &__arrow
        position: relative
        width: 11px
        height: 6px
        display: inline-block
        transition: transform .2s ease
        will-change: transform
        transform-origin: center
        vertical-align: middle
        &::before
            content: ''
            position: absolute
            width: 0
            height: 0
            border-style: solid
            border-width: 6px 5.5px 0 5.5px
            border-color: #001833 transparent transparent transparent
            transition: border-color .2s ease, color .2s ease
            will-change: border-color, color
    &.opened
        background: #09839F
        color: #fff
        padding-bottom: 5px!important
        .fshead__arrow
            transform: rotate(180deg)
            &::before
                border-color: #ffffff transparent transparent transparent
.fsbody
    padding: 10px
    border: 1px solid #C7C7C7
    border-radius: 0 0 10px 10px
    border-top: none

div.fsbody[filter-body]
    display: none

.fsquant
    color: #8A8A8A
    font-size: 13px

.fsrangewrap
    width: calc(100% - 10px)
.fsrange
    background: #D9D9D9
    height: 5px
    border: none!important
    border-radius: 5px
    position: relative
    .ui-slider-handle.ui-state-default.ui-corner-all
        border: 1px solid #E1E1E1
        background: #ffffff
        width: 11px
        height: 11px
        border-radius: 100%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        cursor: pointer
    .ui-slider-range.ui-widget-header.ui-corner-all
        background: #09839F
        position: absolute
        border-radius: 5px
        height: 5px
        top: 0

.fsrangeres
    display: flex
    justify-content: space-between
    display: 20px
    font-size: 13px
    &--rang
        width: calc(100% + 10px)
        span
            color: #474848
            font-size: 13px
    &__num
        font-weight: 600

.fsmaintitle
    color: #222227
    font-size: 14px
    font-weight: 700

.filter-wrap
    margin: 23px