{% set title = 'beach' %}
{% extends "base/base.twig" %}
{% block page %}

  {% include './components/progress-bar.twig' %}
  {% include './components/header.twig' %}
  {% include './components/beach-desc--sliderMob.twig' %}
  <div class="page-container">
    {% include './components/breadcrumbs.twig' %}
    {% include './components/beach-desc.twig' %}
    {% include './components/beach-questionnaire.twig' %}
    {% include './components/beach-features.twig' %}
    {% include './components/beach-location.twig' %}
    {% include './components/beach-content.twig' %}
    {% include './components/beach-slider-line.twig' %}
  </div>

  {% include './components/footer.twig' %}


{% endblock %}