{% set title = 'index-page' %}
{% extends "base/base.twig" %}
{% block page %}

<!--main header-->
<div class="wrapper main-header">
    <div class="wrapper main-header-wr">

        <!--head-->
        <div class="container head">
            <!--logo-->
            <div class="logo-container">
                <a href="/" class="logo">
                    <img src="assets/images/pictures/logo-white.svg" alt="logo">
                    <div class="text">
                        BeachSearcher
                        <span>Beta</span>
                    </div>
                </a>
            </div>
            <!--menu-->
            <div class="burger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="mobile-menu"><a href="#">Hotels</a></div>
            <div class="menu-container">
                <ul>
                    <li><a href="#">Beaches</a></li>
                    <li><a href="#">Hotels</a></li>
                </ul>
            </div>
            <!--tools-->
            <div class="tools-container">
                <div class="lang">
                    <div class="button">English</div>
                    <ul class="dropdown">
                        <li><a href="#">English</a></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="review">
                    <div class="button">Add review</div>
                    <ul class="dropdown">
                        <li><a href="#">Add review</a></li>
                        <li><a href="#">Add review</a></li>
                        <li><a href="#">Add review</a></li>
                    </ul>
                </div>
                <div class="login">
                    <div class="button">Sign in</div>
                    <ul class="dropdown">
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Sign in</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/ head-->

        <!--search-->
        <div class="container search">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="title">
                        Find your <br>
                        perfect beach
                    </div>
                    <div class="description">in <a href="#">mediterranean</a> region</div>
                    <form action="/" method="post">
                        <div class="form-group search-input">
                            <input type="text" class="form-control form-control-lg" name="s" placeholder="Location or beach name">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/search-->
    </div>

    <!--recently viewed-->
    <div class="container recently-viewed">
        <!--title-->
        <div class="row">
            <div class="col-xl-9 offset-xl-3">
                <div class="title">You recently viewed</div>
                <div class="mobile-subtitle">beaches during previous visit</div>
            </div>
        </div>
        <div class="row">
            <!--share block-->
            <div class="col-xl-3 share-block">
                <div class="text">Share your experience <br>with all beach lovers!</div>
                <a href="#publishaphoto" class="btn btn-info btn-icon btn-block" data-fancybox><img src="assets/images/pictures/icon-photo-blue.svg" alt="photo">Publish a photo</a>
                <a href="#addareview" class="btn btn-info btn-icon btn-block" data-fancybox><img src="assets/images/pictures/icon-review-blue.svg" alt="photo">Add a review</a>
                <!--pop-ups-->
                <div id="publishaphoto" class="fancybox-popup-big" style="display: none;">
                    <div class="modal-window">
                        Publish a photo content
                    </div>
                </div>
                <div id="addareview" class="fancybox-popup-big" style="display: none;">
                    <div class="modal-window">
                        Add a review content
                    </div>
                </div>
                <!--/pop-ups-->
            </div>
            <!--slider-->
            <div class="col-xl-9">
                <div class="slider row">
                    <!--items-->
                    <div class="item-container">
                        <div class="item">
                            <div class="item-slider-container">
                                <div class="item-slider">
                                    <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
                                </div>
                                <a href="#" class="add-bookmark"></a>
                            </div>
                            <div class="location">MENORCA, SPAIN</div>
                            <div class="content">
                                <div class="left">
                                    <a href="#" class="title">Cala Mitjaha</a>
                                    <div class="size">Alcudia &bull; 2km</div>
                                </div>
                                <div class="right">
                                    <div class="rating">
                                        <div class="text">
                                            Excellent
                                            <span>20 reviews</span>
                                        </div>
                                        <div class="num">
                                            8.5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description">White sand, natural shadow, snorkling</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item">
                            <div class="item-slider-container">
                                <div class="item-slider">
                                    <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
                                </div>
                                <a href="#" class="add-bookmark"></a>
                            </div>
                            <div class="location">MENORCA, SPAIN</div>
                            <div class="content">
                                <div class="left">
                                    <a href="#" class="title">Cala Mitjaha</a>
                                    <div class="size">Alcudia &bull; 2km</div>
                                </div>
                                <div class="right">
                                    <div class="rating">
                                        <div class="text">
                                            Excellent
                                            <span>20 reviews</span>
                                        </div>
                                        <div class="num">
                                            8.5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description">White sand, natural shadow, snorkling</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item">
                            <div class="item-slider-container">
                                <div class="item-slider">
                                    <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
                                </div>
                                <a href="#" class="add-bookmark"></a>
                            </div>
                            <div class="location">MENORCA, SPAIN</div>
                            <div class="content">
                                <div class="left">
                                    <a href="#" class="title">Cala Mitjaha</a>
                                    <div class="size">Alcudia &bull; 2km</div>
                                </div>
                                <div class="right">
                                    <div class="rating">
                                        <div class="text">
                                            Excellent
                                            <span>20 reviews</span>
                                        </div>
                                        <div class="num">
                                            8.5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description">White sand, natural shadow, snorkling</div>
                        </div>
                    </div>
                    <div class="item-container">
                        <div class="item">
                            <div class="item-slider-container">
                                <div class="item-slider">
                                    <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
                                    <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
                                </div>
                                <a href="#" class="add-bookmark"></a>
                            </div>
                            <div class="location">MENORCA, SPAIN</div>
                            <div class="content">
                                <div class="left">
                                    <a href="#" class="title">Cala Mitjaha</a>
                                    <div class="size">Alcudia &bull; 2km</div>
                                </div>
                                <div class="right">
                                    <div class="rating">
                                        <div class="text">
                                            Excellent
                                            <span>20 reviews</span>
                                        </div>
                                        <div class="num">
                                            8.5
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="description">White sand, natural shadow, snorkling</div>
                        </div>
                    </div>
                    <!--/items-->
                </div>
            </div>
        </div>
    </div>
    <!--/recently viewed-->

</div>
<!--/main header-->

<!--block-1-->
<div class="wrapper block-1">
    <div class="container">
        <div class="title">Popular filters</div>
        <div class="sub-title">find most inspirable beach options</div>
        <div class="row slider">
            <!--items-->
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-1.jpg);"></div>
                <div class="item-title">White sand & crystal water</div>
            </a>
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-2.jpg);"></div>
                <div class="item-title">Kids-friendly</div>
            </a>
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-3.jpg);"></div>
                <div class="item-title">Relax</div>
            </a>
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-4.jpg);"></div>
                <div class="item-title">Natural shadow</div>
            </a>
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-5.jpg);"></div>
                <div class="item-title">Watersports</div>
            </a>
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-6.jpg);"></div>
                <div class="item-title">Natural shadow</div>
            </a>
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-7.jpg);"></div>
                <div class="item-title">White sand & crystal water</div>
            </a>
            <a href="#" class="item">
                <div class="img" style="background-image:url(assets/images/pictures/block-1-8.jpg);"></div>
                <div class="item-title">Kids-friendly</div>
            </a>
            <!--/items-->
        </div>
    </div>
</div>
<!--/block-1-->

<!--block-2-->
<div class="wrapper block-2">
    <div class="container">
        <div class="title">Popular destinations</div>
        <div class="sub-title">view most preferred destionations</div>
        <div class="row">
            <!--items container-->
            <div class="col-xl-9">
                <div class="row slider">
                    <!--items-->
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-1.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-2.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-3.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-4.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-1.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-2.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-3.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <div class="col-md-3 item-container">
                        <a href="#" class="item">
                            <div class="img" style="background-image:url(assets/images/pictures/block-2-4.jpg);"></div>
                            <div class="location">Majorca, Spain</div>
                            <div class="count">280 beaches</div>
                            <span class="description">Wild small bays withyou and nature</span>
                        </a>
                    </div>
                    <!--/items-->
                </div>
            </div>
            <!--ad block-->
            <div class="col-xl-3 banner-container">
                <div class="banner">
                    Ad block
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-outline-primary btn-lg">Show all popular destinations </a>
    </div>
</div>
<!--/block-2-->

<!--footer-->
<div class="wrapper footer">
    <div class="container footer-container">
        <div class="mobile-menu">
            <ul>
                <li><a href="#">Desktop version</a></li>
                <li><a href="#">Tablet version</a></li>
                <li><a href="#">Your account</a></li>
            </ul>
        </div>
        <div class="copyright">
            <img src="assets/images/pictures/logo-dark.svg" alt="logo" class="logo"> © 2020 BeachSearcher.com, Inc. All rights reserved
            <div class="copyright-menu"><a href="#">Terms</a><a href="#">Privacy</a><a href="#">Site Map</a></div>
        </div>
    </div>
</div>
<!--/footer-->
{% endblock %}