{% extends "base/base.twig" %}
{% set lang = [
    {name: 'Deutsch', icon: 'ger'},
    {name: 'English', icon: 'uk'},
    {name: 'Espanol', icon: 'esp'},
    {name: 'Italiano', icon: 'itl'},
    {name: 'Русский', icon: 'rus'}
] %}
{% set share = [
    {name: 'Facebook', icon: 'pfacebook'},
    {name: 'Twitter', icon: 'ptwitter'},
    {name: 'WhatsApp', icon: 'pwhatsapp'},
    {name: 'Link', icon: 'plink'},
    {name: 'Embed', icon: 'pembed'}
] %}
{% set text =[
    {name: 'Cover type', descr: 'gray pebble mixed with sand'},
    {name: 'Water color (calm sea in sunny day) ', descr: 'light blue'},
    {name: 'Water transparency', descr: 'medium'},
    {name: 'Cleanliness', descr: 'high'},
    {name: 'High season load', descr: 'medium'},
] %}
{% block page %}
<div class="wrp">

    <p class="h1 text-center">Page popups</p>

    <div style="display: flex; flex-wrap: wrap;">
        <button data-btn-open="signin" class="m-2 rbtn dbtn dbtn--blue">Open Sign In Popup</button>
        <button data-btn-open="join" class="m-2 rbtn dbtn dbtn--blue">Open Join Popup</button>
        <button data-btn-open="lang" class="m-2 rbtn dbtn dbtn--blue">Set a language</button>
        <button data-btn-open="share" class="m-2 rbtn dbtn dbtn--blue">Share</button>
        <button data-btn-open="review" class="m-2 rbtn dbtn dbtn--blue">Add a review</button>
        <button data-btn-open="mobmenu" class="m-2 rbtn dbtn dbtn--blue">Open mobmenu</button>
        <button data-btn-open="features" class="m-2 rbtn dbtn dbtn--blue">Open beach features</button>
        <button data-btn-open="resetpassword" class="m-2 rbtn dbtn dbtn--blue">Reset Password</button>
        <button data-btn-open="verifyemail" class="m-2 rbtn dbtn dbtn--blue">Verify your email</button>
        <button data-btn-open="verifyemailsecond" class="m-2 rbtn dbtn dbtn--blue">Verify your email second step</button>
    </div>

    {# begin popup sigin #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="signin">
        <div class='pbox op'>

            <div class="pbox__inner">

                <div class="phead mb-3">
                    <div class="phead__left">Sign in</div>
                    <div class="phead__right">
                        <button data-btn-close="signin" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody">

                    <div><button class="rbtn dbtn dbtn--blue dbtn--w100">Log in with Facebook</button></div>

                    <div class="pbody__sep">or</div>

                    <form action="#" class="pform psignin">

                        <div class="pserrors text-center mb-3">
                            <p class="perrors__item justify-content-center mb-2">
                                <span class="perrors__icon mr-2"><svg class="svg-perror-icon"><use xlink:href="assets/images/svgicons/sprite.svg#perror"></use></svg></span>
                                <span class="perrors__text">Incorrect email or password</span>
                            </p>
                            <a href="#" class="pserrors__link pgreen">Click here to get new password</a>
                        </div>

                        <div><input type="text" placeholder="Email" class="pinput pinput--w100 pinput--topradius"></div>
                        <div class="mb-3 pinputwrap">
                            <input type="password" id="ppassin" placeholder="Password" class="pinput pinput--w100 pinput--bottomradius">
                            <span class="pshow" togglepass="#ppassin">Show</span>
                        </div>

                        <div class="mb-3"><button type="submit" class="rbtn dbtn dbtn--green dbtn--w100">Log in</button></div>

                        <p class="ptext text-center mb-4">
                            By signing in, I agree to BeachSearcher's <br class="breakblock">
                            <a href="#" class="pgreen">Terms of use</a> <span class="pl-2 pr-2">and</span> <a href="#" class="pgreen">Privacy Policy.</a>
                        </p>

                        <div class="text-center mb-4"> <a href="#" class="pgreen">Forgot password?</a> </div>

                        <hr>

                        <div class="text-center mb-4"> <a href="#" class="pgrey r-light">No account yet?</a> </div>

                        <div class="mb-3"><button type="button" class="rbtn dbtn dbtn--bordered dbtn--w100">Join</button></div>
                    
                    </form>
                

                </div>

            </div>

        </div>
    </div>
    {# end popup sigin #}

    {# begin popup join #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="join">
        <div class='pbox op'>

            <div class="pbox__inner">

                <div class="phead">
                    <div class="phead__left">Join</div>
                    <div class="phead__right">
                        <button data-btn-close="join" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody">

                    <div class="text-center"><span class="pgreen">Log in</span> with Facebook</div>

                    <div class="pbody__sep">or</div>

                    <form action="#" class="pform psignin">

                        <div class=""><input type="text" placeholder="Email" class="pinput pinput--w100 mb-12"></div>
                        <div class=""><input type="text" placeholder="First Name" class="pinput pinput--w100 mb-12"></div>
                        <div class=""><input type="text" placeholder="Last Name" class="pinput pinput--w100 mb-12"></div>
                        <div class="pinputwrap">
                            <input type="password" id="ppass" placeholder="Password" class="pinput pinput--w100 mb12">
                            <span class="pshow" togglepass="#ppass">Show</span>
                        </div>

                        <div class="perrors mb-3 mt-3">
                            <p class="perrors__item">
                                <span class="perrors__icon mr-2"><svg class='svg-perror-icon'><use xlink:href='assets/images/svgicons/sprite.svg#perror'/></svg></span>
                                <span class="perrors__text">Password strength: weak</span>
                            </p>
                            <p class="perrors__item">
                                <span class="perrors__icon mr-2"><svg class='svg-perror-icon'><use xlink:href='assets/images/svgicons/sprite.svg#perror'/></svg></span>
                                <span class="perrors__text">Can't contain your name or email address</span>
                            </p>
                            <p class="perrors__item">
                                <span class="perrors__icon mr-2"><svg class='svg-perror-icon'><use xlink:href='assets/images/svgicons/sprite.svg#perror'/></svg></span>
                                <span class="perrors__text">At least 8 characters</span>
                            </p>
                            <p class="perrors__item">
                                <span class="perrors__icon mr-2"><svg class='svg-perror-icon'><use xlink:href='assets/images/svgicons/sprite.svg#perror'/></svg></span>
                                <span class="perrors__text">Contains a number or symbol</span>
                            </p>
                        </div>
 
                        <div class="mb-3 d-flex align-items-baseline">
                            <input type="checkbox" class="cfchecbox" hidden id="pnewsletter">
                            <label for="pnewsletter" class="pcheckbox">Email me with beach newsletter. I can unsubscribe at <br class="breakblock"> any time as stated in the Privacy Policy</label>
                        </div>

                        <div class="mb-3"><button type="submit" class="rbtn dbtn dbtn--green dbtn--w100">Sign up</button></div>

                        <hr>

                        <p class="ptext text-center mb-2"> Already have an BeachSearcher account?</p>

                        <div class="text-center">
                            <a href="#" class="pgreen">Log in</a>
                        </div>

                    </form>
                

                </div>

            </div>

        </div>
    </div>
    {# end popup join #}

    {# begin popup lang #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="lang">
        <div class='pbox op'>

            <div class="pbox__inner">

                <div class="phead">
                    <div class="phead__left">Set a language</div>
                    <div class="phead__right">
                        <button data-btn-close="lang" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody pl-2">

                    {% for item in lang %}
                    <div>
                        <a href="#" class="plang">
                            <span class="plang__icon"><svg class='svg-{{ item.icon }}-icon'><use xlink:href='assets/images/svgicons/sprite.svg#{{ item.icon }}'/></svg></span>
                            <span class="plang__text ml-2">{{ item.name }}</span>
                        </a>
                    </div>
                    {% endfor %}

                </div>

            </div>

        </div>
    </div>
    {# end popup lang #}

    {# begin popup share #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="share">
        <div class='pbox pbox--share'>

            <div class="pbox__inner">

                <div class="phead">
                    <div class="phead__left">Share</div>
                    <div class="phead__right">
                        <button data-btn-close="share" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody pl-2">

                    {% for item in share %}
                    <div class="mb-3">
                        <a href="#" class="plang">
                            <span class="plang__icon"><svg class='svg-{{ item.icon }}-icon'><use xlink:href='assets/images/svgicons/sprite.svg#{{ item.icon }}'/></svg></span>
                            <span class="plang__text ml-2">{{ item.name }}</span>
                        </a>
                    </div>
                    {% endfor %}

                </div>

            </div>

        </div>
    </div>
    {# end popup share #}

    {# begin popup share #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="review">
        <div class='pbox op'>

            <div class="pbox__inner">

                <div class="phead mb-3">
                    <div class="phead__left">Add review</div>
                    <div class="phead__right">
                        <button data-btn-close="review" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody">

                    <div class="mb-3">

                        <button type="submit" class="rbtn dbtn dbtn--green dbtn--w100">
                            <span class="dbtn__icon mr-2"><svg class='svg-preview-icon'><use xlink:href='assets/images/svgicons/sprite.svg#preview'/></svg></span>
                            <span class="dbtn__text">Add review</span>
                        </button>

                    </div>

                    <div class="pbody__sep">or</div>

                    <div class="mb-5">

                        <div class="rbtn dbtn dbtn--green dbtn--w100">
                            <input type="file" accept="image/png, image/jpeg, image/jpg" data-load-image class="input-file">
                            <span class="dbtn__icon mr-2"><svg class='svg-pphoto-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pphoto'/></svg></span>
                            <span class="dbtn__text" data-publish-image>Publish a photo</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    {# end popup share #}

    {# begin popup mobmenu #}
    <div class='pbox pbox--menu' data-popup="mobmenu">

        <div class="pbox__inner">

            <div class="phead mb-3">
                <div class="phead__left"><span class="phead__logo"><svg class='svg-bookinglogo-icon'><use xlink:href='assets/images/svgicons/sprite.svg#bookinglogo'/></svg></span></div>
                <div class="phead__right">
                    <button data-btn-close="mobmenu" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                </div>
            </div>

            <div class="pbody">

                <div class="mb-3"><button type="submit" class="rbtn dbtn dbtn--green dbtn--w100">Sign in</button></div>
                <div class="mb-3"><button type="submit" class="rbtn dbtn dbtn--bordered dbtn--w100">Join</button></div>

                <div class="pbody__sep">or</div>

                <p class="pgrey mb-3 postlink__title">Post</p>

                <div class="mb-2">
                    <div class="postlink postlink--loadfile">
                        <input type="file" accept="image/png, image/jpeg, image/jpg" data-load-image class="input-file">
                        <span class="postlink__icon"><svg class='svg-pphotogreen-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pphotogreen'/></svg></span>
                        <span class="postlink__text" data-publish-image>Publish a photo</span>
                    </div>
                </div>

                <div class="mb-2">
                    <a href="#" class="postlink">
                        <span class="postlink__icon"><svg class='svg-previewgreen-icon'><use xlink:href='assets/images/svgicons/sprite.svg#previewgreen'/></svg></span>
                        <span class="postlink__text">Add a review</span>
                    </a>
                </div>

                <hr class="mt-4 mb-4">

                <p class="pgrey mb-3 postlink__title">Language</p>

                <div class="mb-2">
                    <a href="#" class="postlink">
                        <span class="postlink__icon mr-1"><svg class='svg-langgreen-icon'><use xlink:href='assets/images/svgicons/sprite.svg#langgreen'/></svg></span>
                        <span class="postlink__text">English</span>
                    </a>
                </div>

                <hr class="mt-4 mb-4">
                
                <a href="#" class="pgreen d-block mb-4">Home</a>
                <a href="#" class="pgreen d-block mb-4">Terms of use</a>
                <a href="#" class="pgreen d-block mb-4">Privacy Policy</a>
                <a href="#" class="pgreen d-block mb-5">Desktop Site</a>

            </div>

        </div>

    </div>
    {# end popup mobmenu #}

    {# begin popup share #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="features">
        <div class='pbox pbox--features'>

            <div class="pbox__inner">

                <div class="phead phead--leftalign mb-3">
                    <div class="phead__right mr-4">
                        <button data-btn-close="features" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                    <div class="phead__left pdarkgrey">Beach features</div>
                </div>

                <hr class="mb-0">

                <div class="pbody">

                    <p class="pdarkblue mb-2">Kids friendly features</p>

                    <div class="d-flex flex-wrap mb-3">

                        <div class="pr-4 fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsdust-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsdust'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Gray sand, pure</span>
                            </div>

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fswind-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fswind'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Protected from waves zones</span>
                            </div>
                            
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fswaterpark-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fswaterpark'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Waterpark</span>
                            </div>
                        
                        </div>

                        <div class="fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsentrance-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsentrance'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Very smooth entrance</span>
                            </div>

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fslifeguard-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fslifeguard'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Lifeguard</span>
                            </div>
                            
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fspark-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fspark'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Easy access</span>
                            </div>
                        
                        </div>
                        
                    </div>

                    {# ========================= #}

                    <p class="pdarkblue mb-2">Popular features</p>

                    <div class="d-flex flex-wrap mb-3">

                        <div class="pr-4 fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fshammock-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fshammock'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Gray sand, pure</span>
                            </div>

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fscoctail-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fscoctail'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Protected from waves zones</span>
                            </div>

                        </div>

                        <div class="fsiconsblock">

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsswimming-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsswimming'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Gray sand, pure</span>
                            </div>

                        </div>
                        
                    </div>
                    {# ========================= #}

                    <p class="pdarkblue mb-2">Nature</p>

                    <div class="d-flex flex-wrap mb-3">

                        <div class="pr-4 fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsmountain-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsmountain'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Mountain surround</span>
                            </div>

                        </div>

                        <div class="fsiconsblock">

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fspalm-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fspalm'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Natural Shadow</span>
                            </div>

                        </div>
                        
                    </div>

                    {# ========================= #}

                    <p class="pdarkblue mb-2">Sand & Water quality</p>

                    <div class="mb-3">
                        {% for item in text %}
                        <p class="mb-0"> <span>{{ item.name }}</span> <span class="fselips mr-2 ml-2"></span> <span class="lightgreen">{{ item.descr }}</span></p>
                        {% endfor %}
                    </div>


                    {# =========================== #}

                    <p class="pdarkblue mb-2">Swimming</p>

                    <div class="d-flex flex-wrap mb-3">

                        <div class="pr-4 fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsentrance-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsentrance'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Very smooth entrance</span>
                            </div>

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsballet-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsballet'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Aquasocks recommended</span>
                            </div>
                            
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fswind-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fswind'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Low tide</span>
                            </div>
                        
                        </div>

                        <div class="fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fslifeguard-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fslifeguard'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Lifeguard</span>
                            </div>
    
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fswind-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fswind'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Protected from waves zones</span>
                            </div>

                        </div>
                        
                    </div>

                    {# ========================= #}

                    {# ========================= #}

                    <p class="pdarkblue mb-2">Other activities</p>

                    <div class="d-flex flex-wrap mb-3">

                        <div class="pr-4 fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsgoggles-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsgoggles'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Snorkeling</span>
                            </div>

                        </div>

                        <div class="fsiconsblock">

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fssurf-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fssurf'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Kite serfing</span>
                            </div>

                        </div>
                        
                    </div>

                    {# ========================= #}

                    <p class="pdarkblue mb-2">Other activities</p>

                    <div class="d-flex flex-wrap mb-3">

                        <div class="pr-4 fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsbeach-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsbeach'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Sunbeds&Umbrellas</span>
                            </div>

                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fscoctail-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fscoctail'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Beach restaurant</span>
                            </div>
                            
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fssport-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fssport'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Jet-ski or pedal boat rent</span>
                            </div>
                        
                        </div>

                        <div class="fsiconsblock">
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fsshower-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fsshower'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">WC, Shower</span>
                            </div>
    
                            <div class="fsfeature d-flex mb-2">
                                <span class="fsfeatureicon mr-2"><svg class='svg-fswifi-icon'><use xlink:href='assets/images/svgicons/sprite.svg#fswifi'/></svg></span>
                                <span class="pdarkgrey d-flex align-items-center">Wifi</span>
                            </div>

                        </div>
                        
                    </div>

                    {# ========================= #}

                    <p class="pdarkblue mb-2">Access to beach</p>

                    <div class="mb-3">
                        {% for item in text %}
                        <p class="mb-0"> <span>{{ item.name }}</span> <span class="fselips mr-2 ml-2"></span> <span class="pcherry">{{ item.descr }}</span></p>
                        {% endfor %}
                    </div>

                    {# =========================== #}

                    <p class="pdarkblue mb-2">Points of interests nearby</p>

                    <p class="mb-0">
                        <span>Restraunt (200m)</span>
                        <span class="fselips mr-2 ml-2"></span>
                        <span>Supermarket (1km)</span>
                        <span class="fselips mr-2 ml-2"></span>
                        <span>Coffee shop (1.3km)</span>
                        <span>Something else (2km)</span>
                    </p>



                </div>

            </div>

        </div>
    </div>
    {# end popup share #}

    {# begin popup reset password #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="resetpassword">
        <div class='pbox op'>

            <div class="pbox__inner">

                <div class="phead">
                    <div class="phead__left">Reset password</div>
                    <div class="phead__right">
                        <button data-btn-close="resetpassword" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody">

                    <p class="text-center pgrey mb-3">Have trouble remembering your password? <br class="breakblock"> Login with Facebook now and you'll never have to</p>

                    <div><button class="rbtn dbtn dbtn--blue dbtn--w100">Log in with Facebook</button></div>

                    <div class="pbody__sep">or</div>

                    <div class="pserrors d-flex justify-content-center align-items-center text-center mb-3 p-10">
                        <p class="perrors__item">
                            <span class="perrors__icon mr-2"><svg class="svg-perror-icon"><use xlink:href="assets/images/svgicons/sprite.svg#perror"></use></svg></span>
                            <span class="perrors__text">There is no account with this address</span>
                        </p>
                    </div>

                    <div class="pssucces d-flex text-center mb-3 p-10">
                        <p class="m-auto perrors__item justify-content-center">
                            <span class="perrors__text">A link with your password have been sent <br class="breakblock"> to address@domain.com </span>
                        </p>
                    </div>

                    <p class="text-center pgrey mb-3">Enter the email address associated with your account, <br class="breakblock"> and we’ll email you a link to reset your password.</p>

                    <form action="#" class="pform psignin">

                        <div class="mb-3"><input type="text" placeholder="Email" class="pinput pinput--w100"></div>

                        <div class="mb-4 d-flex justify-content-between align-items-center">
                            <a href="#" class="pgreen pform__backtologin">Back to login</a>
                            <div><button type="submit" class="rbtn dbtn dbtn--green dbtn--w100">Send reset link</button></div>
                        </div>


                    </form>
                

                </div>

            </div>

        </div>
    </div>
    {# end popup reset password #}

    {# begin popup reset password #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="verifyemail">
        <div class='pbox op'>

            <div class="pbox__inner">

                <div class="phead mb-2">
                    <div class="phead__dots">
                        <span class="gcircle active mr-1"></span>
                        <span class="gcircle"></span>
                    </div>
                    <div class="phead__right">
                        <button data-btn-close="verifyemail" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody">

                    <div class="text-center pgrey mb-4">
                        <p class="phead__left mb-3">Verify your email</p>
                        Click the link in the email that we have sent you.<br class="breakblock">
                        Confirming your email address helps us send<br class="breakblock">
                        new information about your favorite beaches.
                    </div>

                    <form action="#" class="pform psveremail">

                        <div class="mb-3"><input type="text" placeholder="Email" class="pinput pinput--w100"></div>

                        <div class="psveremail__resendbtn"><button type="submit" class="rbtn dbtn dbtn--green dbtn--w100">Resend email</button></div>

                        <div class="text-center mb-3">
                            <a href="#" class="pgrey psveremail__link">Skip for now</a>
                        </div>


                    </form>
                

                </div>

            </div>

        </div>
    </div>
    {# end popup reset password #}

    {# begin popup reset password #}
    <div class="pbox-wrap pbox-wrap--popupondesktop" data-popup="verifyemailsecond">
        <div class='pbox pbox--secondstep op' style="background: url(assets/images/pictures/banner-ready.jpg) no-repeat center 70%/cover;">

            <div class="pbox__inner">

                <div class="phead mb-2">
                    <div class="phead__dots">
                        <span class="gcircle"></span>
                        <span class="gcircle active ml-1"></span>
                    </div>
                    <div class="phead__right">
                        <button data-btn-close="verifyemailsecond" class="rbtn phead__btn"><svg class='svg-pclose-icon'><use xlink:href='assets/images/svgicons/sprite.svg#pclose'/></svg></button>
                    </div>
                </div>

                <div class="pbody d-flex flex-column justify-content-between">

                    <div class="text-center pgrey mb-4">
                        <p class="phead__left mb-3">Everything is ready!</p>
                        Now you can explore beaches to find the best you like!
                    </div>

                    <div class="mb-5"><button type="submit" class="rbtn dbtn dbtn--green dbtn--w100">Lets' go</button></div>

                </div>

            </div>

        </div>
    </div>
    {# end popup reset password #}

</div>

{% endblock %}