{% extends "base/base.twig" %}
{% block page %}

  <div class="pspopup-overlay"></div>
  <div class="pspopup">

  <button class="rbtn pspopup__close"><svg class='svg-psclosemap-icon'><use xlink:href='assets/images/svgicons/sprite.svg#psclosemap'/></svg></button>

    {# pspopup__left begin #}
    <div class="pspopup__left">

      <div class="pstop">
        <span class="pstop__title mr-5">Trebalucher beach</span>
        <span class="pstop__text mr-3">Show nearlby</span>
        <div class="pstab">
          <button class="rbtn pstab__btn">Beaches</button>
          {# <button class="rbtn pstab__btn">Beaches as</button> #}
          {# <button class="rbtn pstab__btn">Beae sasx</button> #}
          <button class="rbtn pstab__btn">Accomodation</button>
        </div>
      </div>

      <hr class="mt-0 mb-4">

      <div class="pspopup__filters">
        {% include "components/datepicker.twig" %}
        {% include "components/filters.twig" %}
      </div>

      <div class="pspopup__list">
        {% for item in ..8 %}
          <div class="pscard">
            <div class="pscard__left">
              {% include "components/card-image-slider.twig" %}
            </div>

            <div class="pscard__right">
              {# pshead begin #}
              <div class="pshead mb-3">

                <div class="psappart mr-2">
                  <div class="psappart__stars">
                    <span class="psappart__title mr-2">Apartments</span>
                    <div class="stars">
                      {% for item in ..3 %}
                        <svg class='svg-psstar-icon mr-1'>
                          <use xlink:href='assets/images/svgicons/sprite.svg#psstar'/>
                        </svg>
                      {% endfor %}
                    </div>
                  </div>
                  <span class="psappart__name">Appartment Luxanni</span>
                </div>

                <div class="psraiting">
                  <span class="psraiting__text">Excellent</span>
                  <div class="psraiting__num">8.5</div>
                </div>
              </div>
              {# pshead end #}

              {# pscard__body begin #}
              <div class=" pscard__body d-flex align-items-end">

                <div class="pscard__leftinfo">
                  <div class="psdescr mb-4">Luxury 4 Bed Room Apartment Residence in the heart of Majorca zNon
                    refundable
                  </div>

                  <div class="pslocation">
                    <svg class='svg-pslocation-icon mr-2'>
                      <use xlink:href='assets/images/svgicons/sprite.svg#pslocation'/>
                    </svg>
                    <p class="pslocation__text mb-0">
                      <strong>200 m</strong> from current beach
                    </p>
                  </div>
                </div>

                <div class="pscard__rightinfo">

                  <div class="psprice">
                    <span class="psprice__title">Price for 3 nights</span>
                    <div class="psprice__usd mb-1"><sup class="mr-1">from</sup><span>Usd 125</span></div>
                    <div><a href="#" class="rbtn dbtn dbtn--view">view</a></div>
                  </div>

                </div>


              </div>
              {# pscard__body end #}


            </div>
          </div>
          <hr>
        {% endfor %}
      </div>

    </div>
    {# pspopup__left end #}

    {# pspopup__right begin #}
    <div class="pspopup__right">
      <!-- map begin -->
      <div class="google-map">
        <div id="psmap"></div>
      </div>
    </div>
    <script>
        function initMap() {
            // Styles a map in night mode.
            var myLatlng = {lat: 49.9859, lng: 36.2284};
            var map = new google.maps.Map(document.getElementById('psmap'), {
                center: myLatlng,
                zoom: 16
            });
            var marker = new google.maps.Marker({
                position: myLatlng,
                animation: google.maps.Animation.DROP,
            });
            marker.addListener('click', toggleBounce);

            function toggleBounce() {
                if (marker.getAnimation() !== null) {
                    marker.setAnimation(null);
                } else {
                    marker.setAnimation(google.maps.Animation.BOUNCE);
                }
            }

            // To add the marker to the map, call setMap();
            marker.setMap(map);
        }
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyQaGl9mFzX48xq08Ho3WsrJKPvUxEkYE&callback=initMap"
      async
      defer
    ></script>
    <!-- map end -->
  </div>
  {# pspopup__right end #}









{% endblock %}