p, label
  margin-bottom: 0

.header-container,
.footer-container,
.page-container
  margin: 0 auto
  padding: 0 15px
  +r(480)
    padding: 0

.header-container
  max-width: 1538px
  width: 100%

.footer-container
  max-width: 1358px
  width: 100%

.page-container
  max-width: 1402px
  width: 100%

button
  margin: 0
  padding: 0
  background: transparent
  border: none

.slick-list, .slick-slide
  height: 100%

h2
  font-family: "Open Sans"
  font-weight: 600
  font-size: 20px
  line-height: 24px
  color: #0b5a88
  margin-bottom: 0

.reviews__addBtn
  button
    background: #539CA7
    border-radius: 8px
    padding: 7px 11px
    font-family: "Open Sans"
    font-weight: 600
    font-size: 14px
    color: #fff
    outline: none
    svg
      width: 10px
      height: 5px
      margin-left: 8px
  +r(480)
    button
      width: 100%

.slider-beach
  overflow: hidden

.beach-recently-viewed .slider-beach .slick-slide
  margin-bottom: 10px

@media (max-width: 575px)
  .beach-recently-viewed .slider-beach
    max-width: 100%
    margin: 0 0 0 -7px

@media (max-width: 575px)
  .beach-recently-viewed .slider-beach .slick-slide
    padding: 0 7px
    max-width: 300px

@media (max-width: 768px)
  .page-container
    padding: 0