// media mixin
=r($width)
	@media (max-width: $width + "px")
		@content
// media min-width mixin
=m($width)
	@media (min-width: $width + "px")
		@content

// font-face mixin
=font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf)
    $src: null

    $extmods: (eot: "?", svg: "#" + str-replace($name, " ", "_"))

    $formats: (otf: "opentype", ttf: "truetype")

    @each $ext in $exts
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext)
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext)
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma)

    @font-face
        font-family: quote($name)
        font-style: $style
        font-weight: $weight
        src: $src


// short mixin to include fonts
=mb
	font-family: MontserratBlack, sans-serif

=rr
    font-family: Roboto-Regular, sans-serif

=rm
    font-family: Roboto-Medium, sans-serif

=rl
    font-family: Roboto-Light, sans-serif

// How to use
// body
// 	line-height: 1.4
// 	+mb