@import ./common/mixins
@import ./components/mainPage
@import ./components/beach-slider
@import ./common/fonts
// @import "../../../node_modules/normalize.css/normalize"
@import ./components/popup
@import ./components/cardimageslider
@import ./components/pseudopopup
@import ./components/fsfilter
@import ./common/spritepng
@import ./components/progress-bar
@import ./components/breadcrumb
@import ./components/header
@import ./components/footer

@import ./components/beach-desc
@import ./components/beach-desc--slider
@import ./components/beach-desc--reviews
@import ./components/beach-desc--sliderMob
@import ./components/beach-desc--overviewMob
@import ./components/beach-questionnaire
@import components/beach-features
@import components/beach-location
@import components/beach-content
@import components/beach-about
@import components/beach-tabs
@import components/beach-slider-line

@import ./common/common

*
  padding: 0
  margin: 0
  outline: none
  list-style: none


svg[class^="svg-"],
i[class^="icon-"]
  display: inline-block
// svg[class^="svg-"]
//    width: 100%
svg[class^="svg-"]
   max-width: 100%
   max-height: 100%
