
<section class="beach-slider-line">
  <div class="beach-slider-line__title">
    <h2>
      Recomended beaches
    </h2>
    <span>
      similar locations preferred by our users
    </span>
  </div>
  {#  slider-beach   #}
  <div class="beach-recently-viewed">
    <div class="slider-beach row">
      <div class="item-container">
        <div class="item">
          <div class="item-slider-container">
            <div class="item-slider">
              <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
            </div>
            <a href="#" class="add-bookmark"></a>
          </div>
          <div class="location">MENORCA, SPAIN</div>
          <div class="content">
            <div class="left">
              <a href="#" class="title">Cala Mitjaha</a>
              <div class="size">Alcudia &bull; 2km</div>
            </div>
            <div class="right">
              <div class="rating">
                <div class="text">
                  Excellent
                  <span>20 reviews</span>
                </div>
                <div class="num">
                  8.5
                </div>
              </div>
            </div>
          </div>
          <div class="description">White sand, natural shadow, snorkling</div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <div class="item-slider-container">
            <div class="item-slider">
              <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
            </div>
            <a href="#" class="add-bookmark"></a>
          </div>
          <div class="location">MENORCA, SPAIN</div>
          <div class="content">
            <div class="left">
              <a href="#" class="title">Cala Mitjaha</a>
              <div class="size">Alcudia &bull; 2km</div>
            </div>
            <div class="right">
              <div class="rating">
                <div class="text">
                  Excellent
                  <span>20 reviews</span>
                </div>
                <div class="num">
                  8.5
                </div>
              </div>
            </div>
          </div>
          <div class="description">White sand, natural shadow, snorkling</div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <div class="item-slider-container">
            <div class="item-slider">
              <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
            </div>
            <a href="#" class="add-bookmark"></a>
          </div>
          <div class="location">MENORCA, SPAIN</div>
          <div class="content">
            <div class="left">
              <a href="#" class="title">Cala Mitjaha</a>
              <div class="size">Alcudia &bull; 2km</div>
            </div>
            <div class="right">
              <div class="rating">
                <div class="text">
                  Excellent
                  <span>20 reviews</span>
                </div>
                <div class="num">
                  8.5
                </div>
              </div>
            </div>
          </div>
          <div class="description">White sand, natural shadow, snorkling</div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <div class="item-slider-container">
            <div class="item-slider">
              <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
            </div>
            <a href="#" class="add-bookmark"></a>
          </div>
          <div class="location">MENORCA, SPAIN</div>
          <div class="content">
            <div class="left">
              <a href="#" class="title">Cala Mitjaha</a>
              <div class="size">Alcudia &bull; 2km</div>
            </div>
            <div class="right">
              <div class="rating">
                <div class="text">
                  Excellent
                  <span>20 reviews</span>
                </div>
                <div class="num">
                  8.5
                </div>
              </div>
            </div>
          </div>
          <div class="description">White sand, natural shadow, snorkling</div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <div class="item-slider-container">
            <div class="item-slider">
              <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
            </div>
            <a href="#" class="add-bookmark"></a>
          </div>
          <div class="location">MENORCA, SPAIN</div>
          <div class="content">
            <div class="left">
              <a href="#" class="title">Cala Mitjaha</a>
              <div class="size">Alcudia &bull; 2km</div>
            </div>
            <div class="right">
              <div class="rating">
                <div class="text">
                  Excellent
                  <span>20 reviews</span>
                </div>
                <div class="num">
                  8.5
                </div>
              </div>
            </div>
          </div>
          <div class="description">White sand, natural shadow, snorkling</div>
        </div>
      </div>
      <div class="item-container">
        <div class="item">
          <div class="item-slider-container">
            <div class="item-slider">
              <img src="assets/images/pictures/item-slide-1.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-2.jpg" alt="slide">
              <img src="assets/images/pictures/item-slide-3.jpg" alt="slide">
            </div>
            <a href="#" class="add-bookmark"></a>
          </div>
          <div class="location">MENORCA, SPAIN</div>
          <div class="content">
            <div class="left">
              <a href="#" class="title">Cala Mitjaha</a>
              <div class="size">Alcudia &bull; 2km</div>
            </div>
            <div class="right">
              <div class="rating">
                <div class="text">
                  Excellent
                  <span>20 reviews</span>
                </div>
                <div class="num">
                  8.5
                </div>
              </div>
            </div>
          </div>
          <div class="description">White sand, natural shadow, snorkling</div>
        </div>
      </div>
    </div>
  </div>
  {#  slider-beach   #}
</section>