<section class="beach-about">
    <div class="beach-about__title">
        <h2>About</h2>
    </div>
    <div class="beach-about__inner">
        The most significant square of historical Prague, it was founded in the 12th century and has been witness to many historical events. In addition to the Old Town Hall and the Church of Our Lady before Týn, the square is dominated by the Baroque Church of St Nicholas, the Rococo Kinský Palace, the Gothic House at the Stone Bell and the monument to Jan Hus. In the pavement of the square are memorial stones marking the execution of 27 Czech lords in 1621, and the Prague meridian.
    </div>
    <div class="beach-about__link">
        <a href="#">Show more<svg class="svg-drop-down-icon"><use xlink:href="assets/images/svgicons/sprite.svg#drop-down"/></svg></a>
    </div>
</section>