<div class="beach-desc__sliderMob">
  <div class="beach-desc__sliderMob__wrapper">
    <div class="beach-desc__sliderMob__item">
      <div class="beach-desc__sliderMob__slider">
        <div class="beach-desc__sliderMob__slider__item">
          <div class="beach-desc__sliderMob__slider__item__badge">
            <div class="beach-desc__sliderMob__slider__item__badge__item">
              <div class="beach-desc__sliderMob__slider__item__badge__item__accommodation">
                <span>24</span>
                <p>accommpdation</p>
              </div>
              <div class="beach-desc__sliderMob__slider__item__badge__item__found">
                FOUND NEARBY
              </div>
            </div>
            <div class="beach-desc__sliderMob__slider__item__badge__item">
              <span>from</span>
              <span>$ <b>35</b></span>
            </div>
          </div>
          <img src="./assets/images/pictures/mob--beach-c.png" alt="slider img">
        </div>
        <div class="beach-desc__sliderMob__slider__item">
          <div class="beach-desc__sliderMob__slider__item__badge">
            <div class="beach-desc__sliderMob__slider__item__badge__item">
              <div class="beach-desc__sliderMob__slider__item__badge__item__accommodation">
                <span>24</span>
                <p>accommpdation</p>
              </div>
              <div class="beach-desc__sliderMob__slider__item__badge__item__found">
                FOUND NEARBY
              </div>
            </div>
            <div class="beach-desc__sliderMob__slider__item__badge__item">
              <span>from</span>
              <span>$ <b>35</b></span>
            </div>
          </div>
          <img src="./assets/images/pictures/mob--beach-c.png" alt="slider img">
        </div>
        <div class="beach-desc__sliderMob__slider__item">
          <div class="beach-desc__sliderMob__slider__item__badge">
            <div class="beach-desc__sliderMob__slider__item__badge__item">
              <div class="beach-desc__sliderMob__slider__item__badge__item__accommodation">
                <span>24</span>
                <p>accommpdation</p>
              </div>
              <div class="beach-desc__sliderMob__slider__item__badge__item__found">
                FOUND NEARBY
              </div>
            </div>
            <div class="beach-desc__sliderMob__slider__item__badge__item">
              <span>from</span>
              <span>$ <b>35</b></span>
            </div>
          </div>
          <img src="./assets/images/pictures/mob--beach-c.png" alt="slider img">
        </div>
      </div>
      <div class="beach-desc__sliderMob__slider__controls">
        <a href="#" class="beach-desc__sliderMob__slider__controls__arrow beach-desc__sliderMob__slider__controls__arrow--prev">
          <svg class="svg-sliderArrowLeft--mob-icon">
            <use xlink:href="assets/images/svgicons/sprite.svg#sliderArrowLeft--mob"/>
          </svg>
        </a>
        <a href="#" class="beach-desc__sliderMob__slider__controls__arrow beach-desc__sliderMob__slider__controls__arrow--next">
          <svg class="svg-sliderArrowRight--mob-icon">
            <use xlink:href="assets/images/svgicons/sprite.svg#sliderArrowRight--mob"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="beach-desc__sliderMob__item">
      <div class="beach-desc__sliderMob__otherLinks">
        <a href="#" class="beach-desc__sliderMob__otherLinks__photos beach-desc__sliderMob__otherLinks__photos--active">
          All<br> photos
        </a>
        <a href="#" class="beach-desc__sliderMob__otherLinks__panoramas">
          <svg class="svg-360-icon">
            <use xlink:href="assets/images/svgicons/sprite.svg#360"/>
          </svg>
          Panoramas
        </a>
        <a href="#" class="beach-desc__sliderMob__otherLinks__list">
          <svg class="svg-mob--list-icon">
            <use xlink:href="assets/images/svgicons/sprite.svg#mob--list"/>
          </svg>
          <svg class="svg-list-icon">
            <use xlink:href="assets/images/svgicons/sprite.svg#list"/>
          </svg>
          Add to list
        </a>
      </div>
    </div>
  </div>
</div>