<div class="beach-desc__overviewMob">
    <div class="beach-desc__overviewMob__wrapper">
        <div class="beach-desc__overviewMob__item beach-desc__overviewMob__item--title">
            <h3 class="beach-desc__reviews__title">User reviews</h3>
            <div class="beach-desc__reviews__addBtn">
                <button>
                    Add review
                    <svg class="svg-drop-down--reviews-icon">
                        <use xlink:href="assets/images/svgicons/sprite.svg#drop-down--reviews"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="beach-desc__overviewMob__item">
            <div class="beach-desc__overviewMob__item__review">
                <p>
                    "Cala Mariolu is in my view the most beautiful beach in Europe. Wherever you are in Sardinia, it is worth a trip to Cala Gonone, where you can jump on a boat and go to Cala Mariolu and the other beautiful beaches in the area (Cala Luna, Cala Sisine, etc.)"
                </p>
                <a href="#">John de Gama</a>
            </div>
            <div class="beach-desc__overviewMob__item__review">
                <p>
                    "Cala Mariolu is in my view the most beautiful beach in Europe. Wherever you are in Sardinia, it is worth a trip to Cala Gonone, where you can jump on a boat and go to Cala Mariolu and the other beautiful beaches in the area (Cala Luna, Cala Sisine, etc.)"
                </p>
                <a href="#">John de Gama</a>
            </div>
        </div>
    </div>
    <a href="#" class="beach-desc__overviewMob__more">Read all reviews</a>
    <a href="#" class="beach-desc__overviewMob__show">
        Show more
        <svg class="svg-show_more-mob-icon">
            <use xlink:href="assets/images/svgicons/sprite.svg#show_more-mob"/>
        </svg>
    </a>
</div>