<section class="beach-features">
  <div class="beach-features__wrapper">
    <div class="beach-features__title subTitle">
      <h2>Key features</h2>
    </div>
    <div class="beach-features__items">
      <div class="beach-features__icons">
        <div class="beach-features__icons__wrapper">
          <div class="beach-features__icon">
            <svg class="svg-pure-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#pure"/>
            </svg>
            <p>
              Gray sand, pure
            </p>
          </div>
          <div class="beach-features__icon">
            <svg class="svg-lifeguard-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#lifeguard"/>
            </svg>
            <p>
              Lifeguard
            </p>
          </div>
          <div class="beach-features__icon">
            <svg class="svg-easy-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#easy"/>
            </svg>
            <p>
              Easy access
            </p>
          </div>
          <div class="beach-features__icon">
            <svg class="svg-swimming-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#swimming"/>
            </svg>
            <p>
              Good for Swimming
            </p>
          </div>
          <div class="beach-features__icon">
            <svg class="svg-sunbeds-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#sunbeds"/>
            </svg>
            <p>
              Sunbeds & Umbrellas
            </p>
          </div>
          <div class="beach-features__icon">
            <svg class="svg-relax-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#relax"/>
            </svg>
            <p>
              Good for Relax
            </p>
          </div>
          <div class="beach-features__icon">
            <svg class="svg-restaurant-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#restaurant"/>
            </svg>
            <p>
              Beach restaurant
            </p>
          </div>
        </div>
        <div class="beach-features__icons__links">
          <a href="#" class="beach-features__icons__link beach-features__icons__link--view">View all 25 features</a>
          <a href="#" class="beach-features__icons__link beach-features__icons__link--add">Add or improve listing</a>
        </div>
      </div>
      <div class="beach-features__separator"></div>
      <div class="beach-features__quality">
        <h3 class="beach-features__quality__title">
          Quality index
          <span>
            <svg class="svg-star-icon"><use xlink:href="assets/images/svgicons/sprite.svg#star"/></svg>
            8.7
          </span>
        </h3>
        <div class="beach-features__quality__bars">
          <div class="beach-features__quality__bar">
            <span>Cover & Water</span>
            <div class="beach-features__quality__bar__line">
              <div></div>
            </div>
            9.2
          </div>
          <div class="beach-features__quality__bar">
            <span>Cleanliness</span>
            <div class="beach-features__quality__bar__line">
              <div></div>
            </div>
            9.2
          </div>
          <div class="beach-features__quality__bar">
            <span>Infrastructure</span>
            <div class="beach-features__quality__bar__line">
              <div></div>
            </div>
            9.2
          </div>
        </div>
      </div>
    </div>
  </div>
</section>