<section class="beach-questionnaire">
  <span class="beach-questionnaire__question">Would you associate this place with relax?</span>
  <form action="#">
    <div class="beach-questionnaire__item">
      <label class="beach-questionnaire__radio" for="beach-questionnaire__yes">
        <input type="radio" id="beach-questionnaire__yes" name="beach-questionnaire">
        <span class="beach-questionnaire__radio__text">Yes</span>
      </label>
    </div>
    <div class="beach-questionnaire__item">
      <label class="beach-questionnaire__radio" for="beach-questionnaire__no">
        <input type="radio" id="beach-questionnaire__no" name="beach-questionnaire">
        <span class="beach-questionnaire__radio__text">No</span>
      </label>
    </div>
    <div class="beach-questionnaire__item">
      <label class="beach-questionnaire__radio" for="beach-questionnaire__unsure">
        <input type="radio" id="beach-questionnaire__unsure" name="beach-questionnaire">
        <span class="beach-questionnaire__radio__text">Unsure</span>
      </label>
    </div>
  </form>
</section>