<section class="beach-desc">
  <div class="beach-desc__head">

    <div class="beach-desc__title-wrapper">
      <div class="beach-desc__title">
        <h2>Trebalucher beach</h2>
        <h3>Playa de Trebalucher</h3>
      </div>
      <div class="beach-desc__badge">
        <svg class="svg-badge-icon">
          <use xlink:href="assets/images/svgicons/sprite.svg#badge"/>
        </svg>
        Kids friendly
      </div>
    </div>
    <div class="beach-desc__btn-wrapper">
      <div class="beach-desc__separator"></div>
      <div class="beach-desc__rating">
        <div class="beach-desc__points">8.7</div>
        <div class="beach-desc__out">#4 out of 489<br/>beaches in Majorca</div>
      </div>
      <a href="#" class="beach-desc__share">
        <svg class="svg-share-icon">
          <use xlink:href="assets/images/svgicons/sprite.svg#share"/>
        </svg>
        Share
      </a>
    </div>

  </div>
  <div class="beach-desc__controlls">
    <div class="beach-desc__info-wrapper">
      <div class="beach-desc__info-wrapper__item">
        <div class="beach-desc__size"><b>Middle-sized</b> beach with</div>
        <div class="beach-desc__location"><b>Non-urban</b> location</div>
      </div>
      <div class="beach-desc__info-wrapper__separator"></div>
      <div class="beach-desc__info-wrapper__item">
        <div class="beach-desc__weather">
          <div class="beach-desc__weather__title">Weather in <b>June</b></div>
          <div class="beach-desc__weather__icon-wrapper">
            <div class="beach-desc__weather__item">
              <div class="beach-desc__weather__ico">
                <svg class="svg-cloud-icon">
                  <use xlink:href="assets/images/svgicons/sprite.svg#cloud"/>
                </svg>
              </div>
              +29
              <i>
                C
                <svg class="svg-blue-dot-icon">
                  <use
                          xlink:href="assets/images/svgicons/sprite.svg#blue-dot"
                  />
                </svg>
              </i>
            </div>
            <div
                    class="beach-desc__weather__item beach-desc__weather__item--wind"
            >
              <div class="beach-desc__weather__ico">
                <svg class="svg-wind-icon">
                  <use xlink:href="assets/images/svgicons/sprite.svg#wind"/>
                </svg>
              </div>
              +24
              <i>
                C
                <svg class="svg-dark-blue-dot-icon">
                  <use
                          xlink:href="assets/images/svgicons/sprite.svg#dark-blue-dot"
                  />
                </svg>
              </i>
            </div>
          </div>
        </div>
        <div class="beach-desc__mobLink">
          <a href="#">Set dates to see the specific data ></a>
        </div>
        <div class="beach-desc__date">
          <p>
            Set dates to see<br/>
            the specific data
          </p>
          <div class="beach-desc__date__picker">
            <svg class="svg-calendar-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#calendar"/>
            </svg>
            <b>Wed,</b>
            <p>11 Nov</p>
            <div class="beach-desc__date__picker__separator"></div>
            <b>Wed,</b>
            <p>11 Nov</p>
          </div>
          <a href="#" class="beach-desc__date__go">Go</a>
          <a href="#" class="beach-desc__date__reset">Reset</a>
        </div>
      </div>
    </div>
  </div>
  {% include 'beach-desc--overviewMob.twig' %}
  {% include 'beach-desc--slider.twig' %}
</section>
