<section class="beach-location">
    <div class="beach-location__wrapper">
        <div class="beach-location__col">
            <div class="beach-location__title">
                <h2>Location</h2>
            </div>
            <div class="beach-location__geo">
                <div class="beach-location__geo__item">
                    <h3>Beach location</h3>
                    <div class="beach-location__geo__item__inner">
                        <svg class="svg-pin-icon">
                            <use xlink:href="assets/images/svgicons/sprite.svg#pin"/>
                        </svg>
                        <p>
                            <span>GPS: 39.931238, 3.988881</span>
                            <span>07749 Es Migjorn Gran, Balearic Islands,<br>Spain</span>
                        </p>
                    </div>
                </div>
                <div class="beach-location__geo__item">
                    <h3>Main distances</h3>
                    <div class="beach-location__geo__item__inner-wrapper">
                        <div class="beach-location__geo__item__inner">
                            <svg class="svg-nearest-pin-icon">
                                <use xlink:href="assets/images/svgicons/sprite.svg#nearest-pin"/>
                            </svg>
                            <p>
                            <span>
                                Serpentora
                                <svg class="svg-dot_geo-icon"><use xlink:href="assets/images/svgicons/sprite.svg#dot_geo"/></svg>
                                2 km
                            </span>
                                <span>nearest Locality</span>
                            </p>
                        </div>
                        <div class="beach-location__geo__item__inner">
                            <svg class="svg-place-icon">
                                <use xlink:href="assets/images/svgicons/sprite.svg#place"/>
                            </svg>
                            <p>
                            <span>
                                Palma de Majorca
                                <svg class="svg-dot_geo-icon"><use xlink:href="assets/images/svgicons/sprite.svg#dot_geo"/></svg>
                                24 km
                            </span>
                                <span>main City of the region</span>
                            </p>
                        </div>
                        <div class="beach-location__geo__item__inner">
                            <svg class="svg-plane-icon">
                                <use xlink:href="assets/images/svgicons/sprite.svg#plane"/>
                            </svg>
                            <p>
                            <span>
                                Serpentora
                                <svg class="svg-dot_geo-icon"><use xlink:href="assets/images/svgicons/sprite.svg#dot_geo"/></svg>
                                2 km
                            </span>
                                <span>nearest Locality</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="beach-location__col">
            <div class="beach-location__desc">
                <div class="beach-location__desc__inner">
                    <div class="beach-location__desc__inner__info">
                        <b>5</b>
                        <p>
                            beaches
                            <span>in limit of 2 km</span>
                        </p>
                    </div>
                    <div class="beach-location__desc__inner__info beach-location__desc__inner__info--blue">
                        <b>24</b>
                        <p>
                            accomodations
                            <span>on 3 km distance</span>
                        </p>
                    </div>
                    <div class="beach-location__desc__inner__info beach-location__desc__inner__info--link">
                        <a href="#">View all beaches and accommodation<br>near Trebalucher beach</a>
                    </div>
                </div>
                {# map #}
                {% include 'beach-location__desc__inner--map.twig' %}
                {# map END #}
                <div class="beach-location__desc__inner__info beach-location__desc__inner__info--link beach-location__desc__inner__info--linkMob">
                    <a href="#">View all beaches and accommodation<br>near Trebalucher beach</a>
                </div>
                <div class="beach-location__desc__inner beach-location__desc__inner--drop-dawn">
                    <button class="beach-location__desc__inner__button">
                        Additional points of interest (24)
                        <svg class="svg-additional-drop-down-icon">
                            <use xlink:href="assets/images/svgicons/sprite.svg#additional-drop-down"/>
                        </svg>
                    </button>
                    <ul class="dropdown beach-location__desc__inner__drop-dawn" >
                        <li><a href="#">points</a></li>
                        <li><a href="#">points points</a></li>
                        <li><a href="#">points</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
