<section class="beach-desc__overview">
  <div class="beach-desc__overview__wrapper">
    <div class="beach-desc__overview__item">
      <div class="beach-desc__overview__item__wrapper">
        <div class="beach-desc__overview__slider__wrapper">
          <div class="beach-desc__overview__slider">
            <div class="beach-desc__overview__slider__item">
              <div class="beach-desc__overview__slider__item__badge">
                <div class="beach-desc__overview__slider__item__badge__item">
                  <div class="beach-desc__overview__slider__item__accommodation">
                    <span>24</span>
                    <p>accommpdation</p>
                  </div>
                  <div class="beach-desc__overview__slider__item__found">
                    FOUND NEARBY
                  </div>
                </div>
                <div class="beach-desc__overview__slider__item__badge__item">
                  <span>from</span>
                  <span>$ <b>35</b></span>
                </div>
              </div>
              <img src="./assets/images/pictures/beach-c.png" alt="slider img">
            </div>
            <div class="beach-desc__overview__slider__item">
              <div class="beach-desc__overview__slider__item__badge">
                <div class="beach-desc__overview__slider__item__badge__item">
                  <div class="beach-desc__overview__slider__item__accommodation">
                    <span>24</span>
                    <p>accommpdation</p>
                  </div>
                  <div class="beach-desc__overview__slider__item__found">
                    FOUND NEARBY
                  </div>
                </div>
                <div class="beach-desc__overview__slider__item__badge__item">
                  <span>from</span>
                  <span>$ <b>35</b></span>
                </div>
              </div>
              <img src="./assets/images/pictures/beach-c.png" alt="slider img">
            </div>
            <div class="beach-desc__overview__slider__item">
              <div class="beach-desc__overview__slider__item__badge">
                <div class="beach-desc__overview__slider__item__badge__item">
                  <div class="beach-desc__overview__slider__item__accommodation">
                    <span>24</span>
                    <p>accommpdation</p>
                  </div>
                  <div class="beach-desc__overview__slider__item__found">
                    FOUND NEARBY
                  </div>
                </div>
                <div class="beach-desc__overview__slider__item__badge__item">
                  <span>from</span>
                  <span>$ <b>35</b></span>
                </div>
              </div>
              <img src="./assets/images/pictures/beach-c.png" alt="slider img">
            </div>
          </div>
          <div class="beach-desc__overview__slider-controls">
            <a href="#"
               class="beach-desc__overview__slider-controls__arrow beach-desc__overview__slider-controls__arrow--left">
              <svg class="svg-sliderArrowLeft-icon">
                <use xlink:href="assets/images/svgicons/sprite.svg#sliderArrowLeft"/>
              </svg>
            </a>
            <a href="#"
               class="beach-desc__overview__slider-controls__arrow beach-desc__overview__slider-controls__arrow--right">
              <svg class="svg-sliderArrowRight-icon">
                <use xlink:href="assets/images/svgicons/sprite.svg#sliderArrowRight"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="beach-desc__overview__item__other">
          <a href="#" class="beach-desc__overview__item__other__photos">
            All<br>photos
          </a>
          <a href="#" class="beach-desc__overview__item__other__panoramas">
            <svg class="svg-360-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#360"/>
            </svg>
            Panoramas
          </a>
          <a href="#" class="beach-desc__overview__item__other__list">
            <svg class="svg-list-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#list"/>
            </svg>
            Add to list
          </a>
        </div>
      </div>
    </div>
    <div class="beach-desc__overview__item">
      <div class="beach-desc__reviews">
        <div class="beach-desc__reviews__title-wrapper">
          <h3 class="beach-desc__reviews__title">User reviews</h3>
          <div class="beach-desc__reviews__addBtn">
            <button>
              Add review
              <svg class="svg-drop-down--reviews-icon">
                <use xlink:href="assets/images/svgicons/sprite.svg#drop-down--reviews"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="beach-desc__reviews__review-wrapper">
          <div class="beach-desc__reviews__review">
            <div class="beach-desc__reviews__review__text">
              "Cala Mariolu is in my view the most beautiful beach in Europe. Wherever you are in Sardinia, it is worth
              a trip to Cala Gonone, where you can jump on a boat and go to Cala Mariolu and the other beautiful beaches
              in the area (Cala Luna, Cala Sisine, etc.)"
            </div>
            <a href="#" class="beach-desc__reviews__review__author">
              John de Gama
            </a>
          </div>
          <div class="beach-desc__reviews__review">
            <div class="beach-desc__reviews__review__text">
              "Cala Mariolu is in my view the most beautiful beach in Europe. Wherever you are in Sardinia, it is worth
              a trip to Cala Gonone, where you can jump on a boat and go to Cala Mariolu and the other beautiful beaches
              in the area (Cala Luna, Cala Sisine, etc.)"
            </div>
            <a href="#" class="beach-desc__reviews__review__author">
              John de Gama
            </a>
          </div>
        </div>
        <div class="beach-desc__reviews-btn">
          <a href="#">Read all reviews</a>
        </div>
      </div>
    </div>
  </div>
</section>