<section class="beach-tabs">
  <div class="beach-tabs__title">
    <h2>
      Travelers reviews
      <span>
      <svg class="svg-star-icon"><use xlink:href="assets/images/svgicons/sprite.svg#star"></use></svg>
      8.7
    </span>
    </h2>
  </div>

  <div class="beach-tabs__wrapper">
    <ul class="beach-tabs__head">
      <li class="beach-tabs__head__item beach-tabs__head__item--active">
        <b>45</b>
        <span>Reviews</span>
      </li>
      <li class="beach-tabs__head__item">
        <b>15</b>
        <span>Q+A</span>
      </li>
    </ul>
    <div class="beach-tabs__content beach-tabs__content--active">
      <div class="beach-tabs__content__btn">
        {% include 'reviews-addBtn.twig' %}
      </div>
      {% for item in ..3 %}
        <div class="beach-tabs__content__item">
          <div class="beach-tabs__content__item__col">
            <div class="beach-tabs__content__item__rating">4.3</div>
            <div class="beach-tabs__content__item__inner">
              <a href="#" class="beach-tabs__content__item__name">John de Gama</a>
              <div class="beach-tabs__content__item__time">August 2019</div>
            </div>
          </div>
          <div class="beach-tabs__content__item__col">

            <div class="beach-tabs__content__item__text">
              Hotel is in good location!!! Near from the city center!! Clean and beautiful!!! Front desk staff are friendly and helpful!! Going around to the city from hotel is easy!! Train station is behind the hotel and bus and taxi you will get from outside of hotel!!! If you want to go for shopping!!! Shopping mall is just behind the hotel !!! If you want to save the money on food you can go to the shopping mall and there is food court!!! Room are clean and cozy!!! But there is no refrigerator in room !!! There is one to show which have mini bar in room!!! It will not make any things cool!!! And the hotel don’t have freezer!!! People traveling with medication Who need to freeze their ice pads and have to put their medicine in cooler !!! Don’t choose this hotel!!! Hotel management have to put one freezer in the hotel to the people who have to travel with medication!!!
            </div>

            <div class="beach-tabs__content__item__links">
              <div class="beach-tabs__content__item__link beach-tabs__content__item__link--more">
                <a href="#">Show more<svg class="svg-drop-down-icon">
                    <use xlink:href="assets/images/svgicons/sprite.svg#drop-down"></use></svg>
                </a>
              </div>
              <div class="beach-tabs__content__item__link">
                <a href="#">Review from <b>Google</b></a>
              </div>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="beach-tabs__content">
      <div class="beach-tabs__content__btn">
        {% include 'reviews-addBtn.twig' %}
      </div>
      {% for item in ..3 %}
        <div class="beach-tabs__content__item">
          <div class="beach-tabs__content__item__col">
            <div class="beach-tabs__content__item__rating">5.0</div>
            <div class="beach-tabs__content__item__inner">
              <a href="#" class="beach-tabs__content__item__name">Just Maria</a>
              <div class="beach-tabs__content__item__time">September 2019</div>
            </div>
          </div>
          <div class="beach-tabs__content__item__col">
            <div class="beach-tabs__content__item__text">
              A nice place, not too far from the city center but you will need to take metro (several stops) to get to the old town. There's a good shopping mall, round the corner where you can have a bite on the food court if needed or browse through shops in search of treats for your family and yourself. The hotel itself is nice, offering good breakfast buffet choice. And I did love my huge bed.. And if you get a skyscraper view it's also pleasant! For anyone who is not planning to stay right in the old town this hotel is a good choice.
            </div>
            <div class="beach-tabs__content__item__links">
              <div class="beach-tabs__content__item__link beach-tabs__content__item__link--more">
                <a href="#">Show more<svg class="svg-drop-down-icon">
                    <use xlink:href="assets/images/svgicons/sprite.svg#drop-down"></use></svg>
                </a>
              </div>
              <div class="beach-tabs__content__item__link">
                <a href="#">Review from <b>Google</b></a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <a class="beach-tabs__more" href="#">Read more reviews on Google</a>
</section>
