<div class="beach-location__desc__inner beach-location__desc__inner--map">
  <div class="google-map">
    <div id="psmap"></div>
  </div>
</div>

<script>
    function initMap() {
        // Styles a map in night mode.
        var myLatlng = {lat: 49.9859, lng: 36.2284};
        var map = new google.maps.Map(document.getElementById('psmap'), {
            center: myLatlng,
            zoom: 16
        });
        var marker = new google.maps.Marker({
            position: myLatlng,
            animation: google.maps.Animation.DROP,
        });
        marker.addListener('click', toggleBounce);

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
        // To add the marker to the map, call setMap();
        marker.setMap(map);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyQaGl9mFzX48xq08Ho3WsrJKPvUxEkYE&callback=initMap"></script>