<section class="beach-content">
  <div class="beach-content__wrapper">
    <div class="beach-content__col">
      {% include 'beach-about.twig' %}
      {% include 'beach-tabs.twig' %}
    </div>

    <div class="beach-content__col">
      <div class="beach-content__ad">
        Ad block
      </div>
    </div>
  </div>
</section>