<div class="cimgsl">
    <div class="cimgsl__slider" card-img-slider>
        <div class="cimgsl__slide" style="background: url(assets/images/pictures/item-slide-3.jpg)"></div>
        <div class="cimgsl__slide" style="background: url(assets/images/pictures/item-slide-2.jpg)"></div>
        <div class="cimgsl__slide" style="background: url(assets/images/pictures/item-slide-1.jpg)"></div>
    </div>
    <a href="#" class="cimgsl__flag"><svg class='svg-cflag-icon'><use xlink:href='assets/images/svgicons/sprite.svg#cflag'/></svg></a>
</div>