<div class="psdatepicker mb-4">
    <div class="psdatepicker__row psdatepicker__row--bordered mb-1 pb-1">
        <label class="psdatepicker__label mr-2" for="from">From</label>
        <span class="psdatepicker__day psdatepicker__day--from"></span>
        <input class="psdatepicker__input" readonly autocomplete="off" placeholder="Choose date" type="text" id="from" name="from">
    </div>
    <div class="psdatepicker__row">
        <label class="psdatepicker__label mr-2" for="to">to</label>
        <span class="psdatepicker__day psdatepicker__day--to"></span>
        <input class="psdatepicker__input" readonly autocomplete="off" placeholder="Choose date" type="text" id="to" name="to">
    </div>
</div>