<div class="fsmaintitle mb-2">Filter by</div>
<diV class="fsfilter__wrap mb-3">

    {# fsfilter #}
    <div class="fsfilter">
        <div class="fshead" filter-head>
            <span class="fshead__text mr-1">Beach</span>
            <span class="fshead__arrow"></span>
        </div>

        <div class="fsbody" filter-body>

            {% for item in ..3 %}
            <div class="fstitle mb-1">Property type</div>
            <div class="fsbody__block mb-3">
                {% for elem in ..6 %}
                    <div class="d-flex align-items-baseline mb-1">
                        <input type="checkbox" class="cfchecbox" hidden="" id="ps1{{item}}-{{elem}}">
                        <label for="ps1{{item}}-{{elem}}" class="pcheckbox">Apartments</label>
                        <span class="fsquant ml-4">{{ item }}</span>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        
        </div>

    </div>
    {# fsfilter #}

    {# fsfilter #}
    <div class="fsfilter">

        <div class="fshead" filter-head>
            <span class="fshead__text mr-1">Accomodation</span>
            <span class="fshead__arrow"></span>
        </div>

        <div class="fsbody" filter-body>

            <div class="fstitle mb-1">Price per night</div>
            <div class="fsbody__block mb-3">
                <div class="mb-1">

                    <div class="fsrangewrap">
                        <div class="fsrangeres mb-2" fsrangeres>
                            <span class="fsrangeres__min" fsrangeres-min></span>
                            <span class="fsrangeres__max" fsrangeres-max></span>
                        </div>
                        <div class="fsrange" fsrange> </div>
                    </div>

                </div>
            </div>

            {% for item in ..3 %}
            <div class="fstitle mb-1">Property type</div>
            <div class="fsbody__block mb-3">
                {% for elem in ..6 %}
                    <div class="d-flex align-items-baseline mb-1">
                        <input type="checkbox" class="cfchecbox" hidden="" id="ps{{item}}-{{elem}}">
                        <label for="ps{{item}}-{{elem}}" class="pcheckbox">Apartments</label>
                        <span class="fsquant ml-4">{{ item }}</span>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}

            <div class="fstitle mb-1">Users rating</div>
            <div class="fsbody__block mb-3">
                <div class="mb-1">

                    <div class="fsrangewrap">
                        <div class="fsrangeres fsrangeres--rang mb-2" fsrangesteps>
                        </div>
                        <div class="fsrange" fssteps> </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    {# fsfilter #}

</div>

<div class="mb-3"><button disabled type="button" class="rbtn dbtn dbtn--green dbtn--bold dbtn--w100">Search</button></div>