<footer class="footer">
  <div class="footer-container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <svg class="svg-footer__logo-icon">
          <use xlink:href="assets/images/svgicons/sprite.svg#footer__logo"/>
        </svg>
      </div>
      <div class="footer__inner">
        <div class="footer__copyright">
          © 2020 <a href="#">BeachSearcher.com</a>, Inc.
        </div>
        <div class="footer__item">
          <div class="footer__rights">  All rights reserved</div>
          <div class="footer__links">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Site Map</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
