<header class="header">
  <div class="header-container">
    <div class="header__wrapper">
      <div class="header__menu-arrow">
        <svg class="svg-menu-arrow-icon">
          <use xlink:href="assets/images/svgicons/sprite.svg#menu-arrow"/>
        </svg>
      </div>
      <a href="#" class="logo">
        <svg class="svg-logo-icon">
          <use xlink:href="assets/images/svgicons/sprite.svg#logo"/>
        </svg>
        <span class="text">
          BeachSearcher
          <span>Beta</span>
        </span>
      </a>
      <div class="header__links">
        <a href="#">Beaches</a>
        <a href="#">Hotels</a>
      </div>
      <div class="header__search">
        <input type="text" id="search" value="Majorca1">
        <label for="search">250 beaches</label>
        <button>
          <svg class="svg-search-icon">
            <use xlink:href="assets/images/svgicons/sprite.svg#search"/>
          </svg>
        </button>
      </div>
      <div class="header__buttons">
        <div class="header__lang">
          <i class="header__lang__ico">
            <svg class="svg-lang-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#lang"/>
            </svg>
          </i>
          <button>
            English
            <i>
              <svg class="svg-drop-down-icon">
                <use xlink:href="assets/images/svgicons/sprite.svg#drop-down"/>
              </svg>
            </i>
          </button>
          <ul class="dropdown header__lang__drop-down">
            <li><a href="#">English</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">English</a></li>
          </ul>
        </div>
        <div class="header__review">
          <i class="header__review__ico">
            <svg class="svg-review-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#review"/>
            </svg>
          </i>
          <button>
            Add review
            <i>
              <svg class="svg-drop-down-icon">
                <use xlink:href="assets/images/svgicons/sprite.svg#drop-down"/>
              </svg>
            </i>
          </button>
          <ul class="dropdown header__review__drop-down">
            <li><a href="#">Add review</a></li>
            <li><a href="#">Add review</a></li>
            <li><a href="#">Add review</a></li>
          </ul>
        </div>
        <div class="header__login">
          <i class="header__login__ico">
            <svg class="svg-login-icon">
              <use xlink:href="assets/images/svgicons/sprite.svg#login"/>
            </svg>
          </i>
          <button>
            Sing in
            <i>
              <svg class="svg-drop-down--login-icon">
                <use xlink:href="assets/images/svgicons/sprite.svg#drop-down--login"/>
              </svg>
            </i>
          </button>
          <ul class="dropdown header__login__drop-down">
            <li><a href="#">Sing in</a></li>
            <li><a href="#">Sing in</a></li>
            <li><a href="#">Sing in</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>