<div class="reviews__addBtn">
  <button>
    Add review
    <svg class="svg-drop-down--reviews-icon">
      <use xlink:href="assets/images/svgicons/sprite.svg#drop-down--reviews"></use>
    </svg>
  </button>
</div>